﻿body
{
	padding-top: 120px;	
}

.clear
{
    clear: both;
    font-size: 1px;
    line-height: 1px;
}

.mainContainer
{	
    /*position: fixed;
    top: 0px;
    left: 0px;*/
}

ul.ribbon
{
    margin: 0px;
    padding: 0px;
    font-size: 1em;
    border-bottom: 1px solid #8DB2E3;
}

ul.ribbon *
{
    margin: 0px;
    padding: 0px;
    list-style-type: none;
}

ul.ribbon ul
{
}

ul.ribbon ul ul
{
    /*display: none;*/
}

ul.ribbon ul ul ul
{
    display: block;
}

ul.ribbon ul ul ul li
{
    display: block;
    float: none;
}

ul.ribbon
{
    float: left;
    position: relative;
    width: 100%;
}

ul.ribbon .orb
{
    display: block;
    width: 56px;
    height: 22px;
    background-image: url(images/orb.png);
    background-position: right bottom;
    background-repeat: no-repeat;
    cursor: pointer;
    padding: 0px;
    position: relative;
    z-index: 100;
    margin-top: -4px;
    top: 1px;
}

ul.ribbon .orb a.orbButton
{
	display: block;
	width: 75px;
	height: 20px;
	margin-left: -4px;
	margin-top: -4px;
	text-decoration: none;
	position: absolute;
}

ul.ribbon .orb li ul
{
    background-image: url(images/menu_middle.png);
    background-repeat: repeat-y;
    background-position: right;
}

ul.ribbon .orb:hover
{
    background-image: url(images/orb_hover.png);
}

ul.ribbon .orb span
{
    display: none;
}

ul.ribbon .orb li
{
    margin-top: 10px;
    margin-left: 10px;
}

ul.ribbon .orb ul
{
    background-color: #fff;
    width: 499px;
    padding: 10px;
    margin-top: 0px;
    margin-left: -11px;
    z-index: 25;
    position: absolute;
    top: 2px !important;
    left: 11px;
}

ul.ribbon .orb li ul li
{
    margin-top: 0px;
    margin-left: -9px;
    padding-left: 9px;
    width: 205px;
}

ul.ribbon .orb li ul li a
{
    width: 190px;
}

ul.ribbon .orb li ul li a.arrow
{
    background-image: url(images/arrow.png);
    background-repeat: no-repeat;
    background-position: center right;
}

li.arrow
{
    background-image: url(images/arrow_down.png);
    background-repeat: no-repeat;
    background-position: center right;
}

ul.ribbon .orb li ul li ul
{
    position: absolute;
    top: 21px !important;
    left: 230px;
    background-image: none;
    background-color: Transparent;
    width: 291px;
    padding: 0px;
    margin-left: -14px;
    margin-top: 0px;
}

ul.ribbon .orb li ul li ul li
{
    width: 100%;
    margin: 0px;
    height: 53px;
    line-height: 53px;
}

ul.ribbon .orb li ul li ul li a
{
    width: 100%;
    margin: 0px;
    height: 53px;
    line-height: 53px;
    font-weight: bold;
}

ul.ribbon .orb li ul li ul li:hover
{
    background-image: url(images/orb_submenu_item_hover.png);
    background-repeat: repeat-x;
    height: 20px;
    margin: 0px;
    line-height: 20px;
}

ul.ribbon .orb li ul li ul li:hover a
{
    height: 51px;
    line-height: 51px;
}

ul.ribbon .orb li ul li:hover
{
    background-image: url(images/menu_item_hover.png);
    background-repeat: no-repeat;
    padding-left: 8px;
    border: 1px solid #FFB700;
    height: 40px;
    line-height: 38px;
}

ul.ribbon .orb ul a
{
    clear: both;
    display: block;
    vertical-align: middle;
    position: relative;
    text-decoration: none;
    width: 214px;
    height: 42px;
    line-height: 42px;
}

ul.ribbon .orb ul a:hover
{
    height: 40px;
    line-height: 40px;
}

ul.ribbon .orb ul a img
{
    position: absolute;
    bottom: 7px;
}

ul.ribbon .orb ul a:hover img
{
    position: absolute;
    bottom: 6px;
}

ul.ribbon .orb li ul li ul li a img
{
    position: absolute;
    bottom: 13px;
}

ul.ribbon .orb li ul li ul li:hover a img
{
    position: absolute;
    bottom: 12px;
}

ul.ribbon .orb ul a span
{
    display: inline;
    left: 40px;
    top: 0px;
    position: absolute;
}

ul.ribbon a
{
    outline: none;
}

ul.menu
{
    clear: both;
    padding-left: 60px;
    margin-top: -32px;
    margin-left: 10px;
    /*width: 1000px;*/
    width: 100%;
}

ul.menu li
{
    float: left;
}

ul.menu li a
{
    display: block;
    padding-top: 3px;
    text-decoration: none;
    margin-right: 0px;
    margin-top: 10px;
    height: 20px;
    width: 75px;
    text-align: center;
}

ul.menu li a.active
{
    /*background-color: #d9e3f3;*/
    background-image: url(images/menuitem_background.png);
    background-repeat: no-repeat;
}

ul.menu .submenu
{
    display: block;
    position: absolute;
    left: 0px;
    width: 100%;
    height: 50px;
    border: 1px solid #3b5a82;
    border-bottom: 1px solid #9FAEC2;
    border-top: 0px;
    background-image: url(images/menu_background.png);
    background-repeat: repeat-x;
    border-top: 0px;
    margin-left: -1px;
    z-index: 0;
    border-top: 1px solid #8db2e3;
}

ul.menu .submenu li
{
    height: 40px;
    cursor: pointer;
    margin-top: 5px;
	position: relative;
	padding: 0px 5px 0px 5px;
}

.submenu h2
{
	font-family: Calibri;
	font-size: 11px;
	font-weight: normal;
	margin: -4px auto;
	top: 35px;
	left: 0;
	right: 0;
	text-align: center;
	position: absolute;
}
ul.menu li ul li div
{
    padding: 5px;
    padding-top: 1px;
    text-align: center;
    margin: 2px;
    height: 30px;
    float: left;
}

ul.menu li ul li div:hover
{
    padding: 4px;
    padding-top: 0px;
    background-image: url(images/item_background.png);
    background-repeat: repeat-x;
    height: 30px;
    border: 1px solid #FFB700;
}

ul.menu li ul div.ribbon-list
{
	padding: 0px 5px 0px 5px;
	height: .5em !important;
}

ul.menu li ul div.ribbon-list:hover
{
	background-image: none;
	border: 0px;
	padding: 0px 5px 0px 5px;
}

ul.menu li ul div.ribbon-list div
{
    padding: 1px;
    text-align: left;
    margin: 1px;
    height: 10px;
    line-height: 10px;
    float: none;
}

ul.menu li ul div.ribbon-list input
{
	margin-top: 3px;
    margin-right: 3px;
}

ul.menu li ul div.ribbon-list div img
{
    float: left;
    padding: 2px;
    padding-right: 3px;
}

ul.menu li ul div.ribbon-list div:hover
{
    padding: 0px;
    background-image: url(images/item_small_background.png);
    background-repeat: repeat-x;
    height: 18px;
    border: 1px solid #FFB700;
}

ul.menu li ul div.ribbon-list ul
{
	/*background-color: #fff;*/
	position: absolute;
	margin-left: -1px;
	border: 1px solid #8492A6;
}

ul.menu li ul div.ribbon-list ul li
{
	background-image: url(images/menu_dropdownitembg.png);
	background-repeat: repeat-y;
	margin: 0px;
	border: 0px;
	height: auto;
	padding: 1px;
	padding-left: 30px;
}

ul.menu li ul div.ribbon-list ul li:hover
{
	background-image: url(images/menu_dropdownitembghover.png);
	background-repeat: repeat-x;
	border: 1px solid #FFB700;
	padding: 0px;
	padding-left: 29px;
}

ul.menu li ul li div img
{
    padding-top: 5px;
    display: block;
    margin: 0px auto;
}

ul.menu li li
{
    border-right: 1px solid #abc;
}