﻿
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section JavascriptImport {
  <script type="text/javascript" src="~/Scripts/Application/BoardOperations.js"></script> 
    <script src="~/Scripts/Frameworks/WebGare/Controls/WgReferenceField.js" type="text/javascript"></script>
       <script src="../../Content/bootmetro/js/bootmetro-pivot.js" type="text/javascript"></script>
    <script src="../../Scripts/Application/BoardDesc/Board.js" type="text/javascript"></script>
    <script src="../../Scripts/Application/BoardDesc/BoardPart.js" type="text/javascript"></script>
    <script src="../../Scripts/Application/BoardDesc/BoardOperations.js" type="text/javascript"></script>
        <script src="~/Scripts/Frameworks/WebGare/Configuration/WgOne2ManyConfigurator.js"
            type="text/javascript"></script>
 }
@section MainSection{
<table width="100%" cellpadding="5">
<tr>
    <td width="1%">&nbsp;</td>
<td>
<div id="pivot" class="pivot slide">
         <div class="pivot-headers">
            <a href="#pivot" data-pivot-index="0" class="active" id="Basic"></a>
            <a href="#pivot" data-pivot-index="1" id="Details"></a>
         </div>
         <div class="pivot-items">
            <div id="pivot-item-1" class="pivot-item active">
               <br />
               <h3></h3>
               <br />
               <table cellpadding="3" cellspacing="0" border="0" width="80%">
                   <tr>
                        <td><label></label></td>
                        <td><label></label></td>
                   </tr>
        
                   
                   <tr>
                        <td class="wgGradient" colspan="2"><label>Enter Ply</label></td>
                   </tr>
                   <tr>
                   <td colspan="2">
                        <table width="100%" border="0" id="shellSelection">
                        <tr>
                        <td>
                            <label class="checkbox inline">
                              <input class="ckhPart" type="checkbox" id="chkOuterShell" value="outerShell" data-bind="checked: outerShellYes"  tabindex="1"/>
                              <span class="metro-checkbox" style="width:100px">Board</span>
                            </label>
                        </td>
                     @*   <td>
                            <label class="checkbox inline">
                              <input class="ckhPart" type="checkbox" id="chkLengthPartation" value="lenghtPartation" data-bind="checked: lenghtPartationYes" tabindex="3"/>
                              <span class="metro-checkbox" style="width:200px">Length Partition</span>
                            </label>
                        </td>
                        <td>
                            <label class="checkbox inline">
                              <input class="ckhPart" type="checkbox" id="chkWidthPartation" value="widthPartation" data-bind="checked: widthPartationYes" tabindex="5"/>
                              <span class="metro-checkbox" style="width:200px">Width Partition</span>
                            </label>
                        </td>
                         <td>
                            <label class="checkbox inline">
                              <input class="ckhPart" type="checkbox" id="chkPlate" value="plate" data-bind="checked: plateYes" tabindex="7"/>
                              <span class="metro-checkbox" style="width:100px">Plate</span>
                            </label>
                        </td>
                        <td>
                            <label class="checkbox inline">
                              <input class="ckhPart" type="checkbox" id="chkCap" value="cap" data-bind="checked: capYes" tabindex="9"/>
                              <span class="metro-checkbox" style="width:100px">Cap</span>
                            </label>
                        </td>*@
                         @*   <td>
                            <label class="checkbox inline">
                              <input class="ckhPart" type="checkbox" id="chkCap1" value="cap1" data-bind="checked: capYes1" tabindex="11"/>
                              <span class="metro-checkbox" style="width:100px">Cap1</span>
                            </label>
                        </td>*@
                        </tr>
                        <tr>
                        <td>
                           <input class="input-mini" type="text" placeholder="No.Of" id="txtOuterShell" data-bind="value: outerShell"/>
                                 <label>Ply</label>
                           <input class="input-mini" type="text" placeholder="No.Of Ply" id="txtOuterShellPly"  tabindex="2"/>
                        </td>
                      @*  <td>
                            <input class="input-mini" type="text" placeholder="No.Of" id="txtLPartation" data-bind="value: lenghtPartation"/>
                                 <label>Ply</label>
                            <input class="input-mini  validate[required]" type="text" placeholder="No.Of Ply" id="txtLPartationPly" tabindex="4" />
                        </td>
                        <td>
                            <input class="input-mini" type="text" placeholder="No.Of" id="txtWidthPartation" data-bind="value: widthPartation"/>
                                 <label>Ply</label>
                            <input class="input-mini  validate[required]" type="text" placeholder="No.Of Ply" id="txtWidthPartationPly" tabindex="6" />
                        </td>
                        <td>
                            <input class="input-mini" type="text" placeholder="No.Of" id="txtPlate" data-bind="value: plate"/>
                             <label>Ply</label>
                            <input class="input-mini  validate[required]" type="text" placeholder="No.Of Ply" id="txtPlatePly" tabindex="8" />
                        </td>
                        <td>
                            <input class="input-mini" type="text" placeholder="No.Of" id="txtCap" data-bind="value: cap"/>
                                 <label>Ply</label>
                             <input class="input-mini  validate[required]" type="text" placeholder="No.Of Ply" id="txtCapPly" tabindex="10"/>
                        </td>*@
                                @* <td>
                            <input class="input-mini" type="text" placeholder="No.Of" id="txtCap1" data-bind="value: cap"/>
                                 <label>Ply</label>
                             <input class="input-mini  validate[required]" type="text" placeholder="No.Of Ply" id="txtCapPly1" tabindex="11"/>
                        </td>*@
                        </tr>
                        </table>
                   </td>
                   </tr>
                   <tr>
                   <td colspan="2">

                       
                       <button class="btn btn-primary" type="submit" id="cmdPublish" style="float:right">Next</button>  
                       <a style="float:right">&nbsp;</a>


                        <button class="btn btn-primary" type="button" id="cmdNext" style="float:right">Back</button> 
                         <a style="float:right">&nbsp;</a>

                       @*<button class="btn btn-primary" type="button" id="cmdNext" style="float:right">Next ></button> *@
                   </td>
                   </tr>
               </table>

            </div>
            <div id="pivot-item-2" class="pivot-item">
               <h3>Enter the Details:</h3>
               <table id="prtList" cellpadding="5" border="1" class="tlbEstmation"></table>
            </div>
         </div>
</div>
</td>
</tr>
</table>
}
<body>
<div id="estDialog" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
            <h3 id="lyrHeader">Layer Details</h3>
        </div>
       <table cellpadding="3" cellspacing="0" border="0" width="100%" height="300px">
        @*<table cellpadding="8" cellspacing="0" border="0" width="100%">*@
            <tr>
            <td align="center">
                <label>
                    GSM</label>
                <input class="input-mini UFields validate[funcCall[validateNumeric],required] "
                    data-bind="value: gsm" type="text"  placeholder="GSM" id="OGSM" tabindex="16" />
            </td>
            <td align="center">
                <label>
                    BF</label>
                <input class="input-mini UFields validate[funcCall[validateNumeric],required] "
                    data-bind="value: bf" type="text" placeholder="BF" id="OBF" tabindex="18" />
            </td>
            <td align="center">
                <label>
                    Color</label>
                <input class="input-mini UFields validate[funcCall[validateNumeric],required] "
                    data-bind="value: color" type="text" placeholder="Color" id="OColor" tabindex="21" />
            </td>
@*            <td align="center">
                <label>
                    Rate</label>
                <input class="input-mini UFields validate[funcCall[validateNumeric],required] "
                    data-bind="value: rate" type="text" placeholder="Rate" id="ORate" tabindex="21" />
            </td>*@
                <td align="top">
                    <label align="top">
                        Paper
                    </label>
                       <input class="input-mini"data-bind="value: Fk_Material" type="hidden" placeholder="" id="OPaper" align="top"/>
                     <input class="input-mini"data-bind="value: Weight" type="hidden" placeholder="" id="OWeight" align="top"/>
                        <button class="btn btn-primary" id="cmdSearchdetails"align="top">SearchPaper</button>
                    </td>
                @*</td>*@
            </tr>
           <tr>

           </tr>
           <tr>

           </tr>
            <tr>
                <td class="wgGradient" colspan="4">Copy Options</td>
            </tr>
            <tr>
                <td colspan="4">
                    <button class="btn btn-primary" id="cmdCopyAll" >Copy To All</button>
                    <button class="btn btn-primary" id="cmdCopyFluted" >Copy To Fluted</button>
                    <button class="btn btn-primary" id="cmdNonFluted" >Copy To NonFluted</button>
                </td>
            </tr>
            <tr>
                <td colspan="4">
                    <table width="100%"><tr id="dlgCopyOptions"></tr></table>
                </td>
            </tr> 
           <tr>
                <td colspan="4" align="center">
                    <button class="btn btn-primary" id="cmdSaveLayers">Save</button>
                </td>
            </tr>
        </table>
     </div>

</body>
