﻿
@{
    ViewBag.Title = "Purchase Order Returns";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section JavascriptImport {
    <script src="~/Scripts/Application/POReturns/POReturnOperations.js"
        type="text/javascript"></script>
    <script type="text/javascript" src="~/Scripts/Application/POReturns/Materials.js"></script>
    <script src="~/Scripts/Frameworks/WebGare/Configuration/wgOne2ManyConfigurator.js"
        type="text/javascript"></script>
    <script src="~/Scripts/Frameworks/WebGare/Controls/WgReferenceField.js" type="text/javascript"></script>
}
@section MainSection{
    <div id="divMainSection" wgpagetype="CRUD" wgtag="POReturn">
        <div id="divDataArea" align="center" style="padding-top: 5px">
        </div>
        <div id="divSearchArea" align="center">
        </div>
    </div>
}


<div id="searchIndentDialog" class="modal hide fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="width: 800px; height: 500px">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
        <h3 id="srchHeader1">Indent</h3>
    </div>


    <table cellpadding="8" cellspacing="0" border="0" width="85%">
        <tr>
            <td>
                <table>

                    <tr>
                        <td valign="top">
                            <input type="text" id="txtdlgIndent" placeholder="PO Number" class="input-medium" /></td>
                       @* <td valign="top">
                            <input type="text" id="txtdlgVendor" placeholder="Vendor" class="input-medium" /></td>*@

                        <td valign="top">
                            <input type="text" id="txtdlgFromDate" placeholder="From Date" class="span2 input-medium" data-date-format="dd/mm/yyyy" data-provide="datepicker" />
                        </td>
                        <td valign="top">
                            <input type="text" id="txtdlgToDate" placeholder="To Date" class="span2 input-medium" data-date-format="dd/mm/yyyy" data-provide="datepicker" />
                        </td>
                        <td valign="top">
                            <button type="submit" class="btn" id="cmdIndentSearch">Search</button>
                            <button type="submit" class="btn" id="cmdIndentDone">Done</button>
                        </td>
                    </tr>
            </td>
        </tr>
    </table>
    <tr>
        @*  <td>
            <button type="submit" class="btn" id="cmdIndentSearch">Search</button>
            <button type="submit" class="btn" id="cmdIndentDone">Done</button>
        </td>*@

    </tr>
    <tr>
        <td>
            <div id="IndentSearhContainer">
            </div>
        </td>
    </tr>


    </table>
       

</div>