﻿


<table cellspacing="0" cellpadding="0" border="0" width="30%">
    <br />
   
    <tr class="formHeader">
        <td>
            <label class="formHeaderTag">&nbsp;&nbsp;Add Mill</label></td>
        <td align="right">
            <button class="btn" type="submit" id="cmdBackSearch">Back</button></td>
    </tr>
    <tr>
        <td>&nbsp;</td>
    </tr>


    <tr>
        <td>
            <label>Name</label></td>
        <td>
            <input class="input-large modelControl validate[required,funcCall[CheckMillDuplicate]]" data-bind="value: data.MillName" type="text" placeholder="Mill Name" id="MillName" maxlength="50"/></td>
    </tr>
    <tr>
        <td>
            <label>S.Name</label></td>
        <td>
            <input class="input-large modelControl validate[required]" data-bind="value: data.SName" type="text" placeholder="Short Name" id="SName" maxlength="50"/></td>
    </tr>
    <tr>
        <td>
            <label>Address</label></td>
        <td>
            <input class="input-large modelControl validate[required]" data-bind="value: data.Address" type="text" placeholder="Address" id="Address" maxlength="100" /></td>
    </tr>

     <tr>
        <td>
            <label>ContactPerson</label></td>
        <td>
            <input class="input-large modelControl validate[required],custom[onlyLetterSp]" data-bind="value: data.ContactPerson1" type="text" placeholder="ContactPerson" id="ContactPerson1" maxlength="20" /></td>
    </tr>
    <tr>
        <td>
            <label>Contact Number</label></td>
        <td>
            <input class="input-large modelControl validate[required,custom[number]]" data-bind="value: data.ContactNumber" type="text" placeholder="Contact Number" id="ContactNumber" maxlength="50" /></td>
    </tr>
    <tr>
        <td>
            <label>LandLine No.</label></td>
        <td>
            <input class="input-large modelControl validate[required],custom[number]" data-bind="value: data.LandLine" type="text" placeholder="LandLine" id="LandLine" maxlength="20" /></td>
    </tr>
    <tr>
        <td>
            <label>EMail</label></td>
        <td>
            <input class="input-large modelControl validate[required,custom[email]]" data-bind="value: data.EMail" type="text" placeholder="E-Mail" id="EMail" maxlength="50" /></td>
    </tr>

   


    


    <tr>
        <td>
            <label>Website</label></td>
        <td>
            <input class="input-large modelControl validate[required]" data-bind="value: data.Website" type="text" placeholder="Website" id="Website" maxlength="50" /></td>
    </tr>


    <tr>

    </tr>
    <tr></tr>
    <tr>
        <td colspan="3" valign="top">
            <table cellpadding="5" id="contacts">
                <tr id="contactButtons"></tr>
                <tr id="contactList" datasource='Contacts' data-bind="WgContact: data.Contacts"></tr>
            </table>
        </td>
    </tr>


    <tr>
        <td>&nbsp;</td>
        <td>
            <button type="submit" class="btn cmdCreate" data-bind="click: save" id="cmdCreate">Save</button></td>
    </tr>
</table>
