﻿@*//Name          : Screen Design for a Delivery Schedule modal dialog in order screen -- New Mode(HTML)
//Description   : Contains the Label,TextBox,ComboBox Definitions Required for the Screen               
//Author        : shantha
//Date 	        : 16/08/2015
//Crh Number    : SL0030-SL0035
//Modifications : *@


<div style="display: block;" id="divCreateDeliverySchedule">
    <table cellspacing="5" cellpadding="5" border="0" style="width:200px">
    <tr class="formHeader">
            <td colspan="3">
                <label class="formHeaderTag">
                    &nbsp;&nbsp;Add Schedule</label>
            </td>
        </tr>
        <tr>
            <td>
                &nbsp;
            </td>
        </tr>
        <tr>
            <td valign="top">
                <label>Date</label>
            </td>
            <td>
                <input readonly type="text" id="dtDeliveryDate" data-bind="value: data.DeliveryDate" data-date-format="dd/mm/yyyy" class="validate[required,funcCall[deliveryDateValidate]] span2 datepicker input-medium" data-provide="datepicker"/>
            </td>
        </tr>
         <tr>
            <td valign="top">
                <label>Pk</label>
            </td>
            <td>
                <input class="input-medium modelControl" data-bind="value: data.Fk_EnquiryChild" type="text" placeholder="pk" id="Fk_EnquiryChild"/>
            </td>
        </tr>
        <tr>
            <td valign="top">
                <label>Quantity</label>
            </td>
            <td>
                <input class="input-medium modelControl validate[required,custom[onlyNumberSp]] " data-bind="value: data.Quantity" type="text" placeholder="Quantity" id="Quantity"/>
            </td>
        </tr>
        <tr>
            <td valign="top">
                <label>Comment</label>
            </td>
            <td>
                <textarea cols="3" rows="3" data-bind="value: data.Comments" placeholder="Comments" id="Comments"></textarea>
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <div id="divDeliveryStatus" style="display:none">
                <table width="100%">
                    <tr>
                        <td valign="top">
                            <label>Delivery Completed</label>
                        </td>
                        <td>
                            <input type="checkbox" id="chkDeliveryCompleted" data-bind="checked: data.DeliveryCompleted"/>
                        </td>
                    </tr>
                    <tr>
                        <td valign="top">
                            <label>Date of delivery</label>
                        </td>
                        <td>
                            <input readonly type="text" id="dtDeliveredDate" data-bind="value: data.DeliveredDate" data-date-format="dd/mm/yyyy" class="validate[funcCall[deliveryDateValidate]] span2 datepicker input-medium" data-provide="datepicker"/>
                        </td>
                     </tr>
                </table>
                </div>
            </td>
        </tr>
                
        
         <tr>
            <td>
                &nbsp;
            </td>
            <td>
                <button type="submit" class="btn cmdCreate" id="cmdSaveDeliverySchedule">
                    Save</button>
            </td>
            <td>
                &nbsp;
            </td>
        </tr>
    </table>
</div>

