﻿@*Name        : Screen Design for Enquiry -- Search Mode(HTML)
Description   : Search is done on the fields- id,Customer Name,Status and Communication Type
Author        : CH.V.N.Ravi Kumar
Date 	      : 11/08/2015
Crh Number    : SL0008
Modifications : *@

<table width="95%" cellpadding="5" cellspacing="0" border="0">
    <tr>
        <td>
            <div id="divSearchArea">
                <table cellpadding="3" cellspacing="0" border="0" width="100%">
                    <tr>
                        <td colspan="1">
                            <table>
                                <tr>
                                    <td align="center" valign="top">
                                        <input type="text" id="txtSearchEnquiryId" placeholder="Id" class="input-large search-query" /></td>
                                    <td align="center" valign="top">
                                        <input type="text" id="txtFromDate" placeholder="FromDate" class="span2 input-medium" data-date-format="dd/mm/yyyy" data-provide="datepicker" />
                                    </td>
                                    <td valign="top">
                            <input type="text" id="TxtToDate" placeholder="To Date" class="span2 input-medium" data-date-format="dd/mm/yyyy" data-provide="datepicker" style="width: 210px" />
                        </td>
                                    <td align="center" valign="top">
                                        <input type="text" id="txtSearchCustomer" placeholder="Customer Name" class="input-large search-query" /></td>
                                                                       <td align="center" valign="top">
                                        <button type="submit" class="btn" id="LoadRecordsButton">Search</button></td>
                                    <td align="center" valign="top">
                                        <button type="submit" class="btn" id="cmdNew">Add Enquiry</button></td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div id="radiobtns">
                                <table width="30%">
                                    <tr>
                                        <td>
                                            <label class="radio">
                                                <input type="radio" id="open" name="Status" value="New" onchange="showOnlyOpen()" class="input-large search-query" /><span class="metro-radio">New</span>
                                            </label>

                                        </td>
                                        <td>
                                            <label class="radio">
                                                <input type="radio" id="InProgress" name="Status" value="InProgress" onchange="showOnlyInProgress()" class="input-large search-query" /><span class="metro-radio">InProgress</span>
                                            </label>

                                        </td>
                                        <td>
                                            <label class="radio">
                                                <input type="radio" id="Completed" name="Status" value="Completed" onchange="showOnlyCompleted()" class="input-large search-query" /><span class="metro-radio">Completed</span>
                                            </label>

                                        </td>
                                        <td>
                                            <label class="radio">
                                                <input type="radio" id="Cancelled" name="Status" value="Cancelled" onchange="showOnlyCancelled()" class="input-large search-query" /><span class="metro-radio">Cancelled</span>
                                            </label>

                                        </td>
                                        <td>
                                            <label class="radio">
                                                <input type="radio" id="closed" name="Status" value="Close" onchange="showOnlyClosed()" /><span class="metro-radio">Closed</span>
                                            </label>
                                        </td>
                                        <td>
                                            <label class="radio">
                                                <input type="radio" id="all" name="Status" value=" " onchange="showAll()" checked /><span class="metro-radio">All</span>
                                            </label>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div id="MainSearchContainer"></div>
                        </td>
                    </tr>
                </table>
            </div>
        </td>
    </tr>
</table>
