﻿<table cellspacing="0" cellpadding="0" border="0" width="30%">
       <br />
  
    <tr class="formHeader">
        <td>
            <label class="formHeaderTag">
                Add OD Values</label>
        </td>
        <td align="right">
            <button class="btn" type="submit" id="cmdBackSearch">Back</button>
        </td>
        <td>
            &nbsp;
        </td>
    </tr>
    <tr>
        <td>
            &nbsp;
        </td>
    </tr>

      
      <tr>
        <td>
            <label>Flute Type</label></td>
        <td>
            <select style="width: 50%" class="modelControl validate[required]" data-bind="options: FluteType,
                                                                       optionsCaption: 'Select',
                                                                       optionsText: 'Name',
                                                                       optionsValue: 'Id',
                                                                       value: data.Fk_FluteID"
                id="Fk_FluteType">
            </select>
        </td>
    </tr>
    <tr>
        <td>
            <label>
               PLY in mm</label>
        </td>
        <td>
            <input style ="width:85%" class="input-large modelControl validate[custom[number],required]" data-bind="value: data.PlyValue"
                type="text" placeholder="Ply" id="PPly" />
        </td>
                
    </tr>
     <tr>
        <td>
            <label>
               Length in mm </label>
        </td>
        <td>
            <input style ="width:85%" class="input-large modelControl validate[custom[number],required]" data-bind="value: data.Length"
                type="text" placeholder="Length" id="Length" />
        </td>
                
    </tr>
     <tr>
        <td>
            <label>
               Width  in mm </label>
        </td>
        <td>
            <input style ="width:85%" class="input-large modelControl validate[custom[number],required]" data-bind="value: data.Width"
                type="text" placeholder="Width" id="Width" />
        </td>
                
    </tr>
     <tr>
        <td>
            <label>
               Height  in mm </label>
        </td>
        <td>
            <input style ="width:85%" class="input-large modelControl validate[custom[number],required]" data-bind="value: data.Height"
                type="text" placeholder="Height" id="Height" />
        </td>
                
    </tr>


       

     
  

    <tr>
        <td>
            &nbsp;
        </td>
        <td>
            <button type="submit" class="btn cmdCreate" data-bind="click: save" id="cmdCreate">
                Save</button>
        </td>
    </tr>
</table>
