﻿<table cellspacing="0" cellpadding="0" border="0" width="40%">
    <br />
    <tr style="width: 10%" class="formHeader">
        <td>
            <label class="formHeaderTag">&nbsp;&nbsp;Add Returns</label></td>
        <td align="right">
            <button class="btn" type="submit" id="cmdBackSearch">Back</button></td>
    </tr>
    <tr>
        <td>&nbsp;</td>
    </tr>
    <tr>
        <td>
            <label>Return Date</label>
        </td>
        <td>

            <input type="text" readonly class="input-medium modelControl" id="RejectionDate" data-bind="value: data.RejectionDate" data-date-format="dd/mm/yyyy" class=" span2 input-medium" data-provide="datepicker" />
        </td>


        <tr>
            <td valign="top">
                <label>Customer Order</label>
            </td>
            <td>
                <table>
                    <tr>
                        <td valign="top">
                            <input class="input-medium modelControl" readonly data-bind="wgReferenceField: data.Fk_OrderNo" type="text" placeholder="Customer Order" id="txtCustomerOrder" />
                        </td>
                        <td valign="top">
                            <button class="btn btn-primary" id="cmdCustomerOrderSearch">Search</button>
                        </td>
                    </tr>
                </table>
        </tr>
    <tr>
        <td>
            <label>Customer</label></td>
        <td>
            <input class="input-medium modelControl  " readonly data-bind="wgReferenceField: data.Fk_Customer" type="text" placeholder="Customer" id="txtCustomer" />
    </tr>
    <tr>
        <td>
            <label>
                Quantity
            </label>
            <td>
                <input class="input-medium validate [custom[onlyNumberSp]]" data-bind="value: data.Rejected_Quantity" type="text" placeholder=" Quantity" id="Quantity" /></td>
    </tr>

    <tr>
        <td>
            <label>
                Reason
            </label>
            <td>
                <textarea class="input-medium" data-bind="value: data.Reason" type="text" placeholder=" Reason " id="Reason" /></td>
    </tr>

    <tr>
        <td>&nbsp;</td>
    </tr>
    <tr></tr>
    <tr></tr>
    <tr>
        <td>&nbsp;</td>
        <td colspan="3">
            <button type="submit" class="btn cmdCreate" data-bind="click: save" id="cmdCreate">Save</button></td>
    </tr>
</table>
