﻿<table width="95%" cellpadding="5" cellspacing="0" border="0">
    <br />
    <tr align="center">
        <td>
            <div id="divSearchArea">
                <table cellpadding="3" cellspacing="0" border="0" width="50%">
                    <tr>
                        <td>
                            <table>
                                <tr>
                                    <td align="center" valign="top">
                                        <input type="text" id="PkIssueReturnMasterId" placeholder="Return No" class="input-large search-query" />
                                    </td>
                                    <td align="center" valign="top">
                                        <input type="text" id="PkIssueReturnMasterDate" placeholder="Date" class="span2 input-medium" data-date-format="dd/mm/yyyy" data-provide="datepicker">
                                    </td>
                                    <td align="center" valign="top">
                                        <button type="submit" class="btn" id="LoadRecordsButton">
                                            Search</button>
                                    </td>
                                    <td align="center" valign="top">
                                        <button type="submit" class="btn" id="cmdNew">
                                            Add Issue Return</button>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td>
                        </td>
                    </tr>
                    <tr>
                        <td>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <div id="MainSearchContainer">
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
        </td>
    </tr>
</table>
