﻿@*Name        : Screen Design for Enquiry -- Search Mode(HTML)
Description   : Search is done on the fields- id,First Name,Last Name and Mobile Number
Author        : CH.V.N.Ravi Kumar
Date 	      : 26/10/2015
Crh Number    : 
Modifications : *@

<table width="90%" cellpadding="5" cellspacing="0" border="0">
    <tr>
        <td>
            <div id="divSearchArea">
                <table cellpadding="3" cellspacing="0" border="0" width="100%">
                    <tr>
                        <td>
                            <input type="text" id="txtSearchPkEmployeeId" placeholder="Employee Id" class="input-large search-query" />
                            <input type="text" id="txtSearchFirstName" placeholder="First Name" class="input-large search-query" />
                            <input type="text" id="txtSearchLastName" placeholder="Last Name" class="input-large search-query" />
                            <input type="text" id="txtSearchMobile" placeholder="Mobile" class="input-large search-query" />
                            <button type="submit" class="btn" id="LoadRecordsButton">Search</button>
                            <button type="submit" class="btn" id="cmdNew">Add Employee</button>
                            
                        </td>
                    </tr>
                    <tr>
                        <td >
                            <div id="MainSearchContainer"></div>
                        </td>
                    </tr>
                </table>
            </div>

        </td>
    </tr>
</table>
