﻿<div style="display: block" id="divCreateMaterial">
    <table cellspacing="0" cellpadding="5" border="0" width="90%">
        <tr>
            <td>
                &nbsp;
            </td>
        </tr>
        <tr class="formHeader">
            <td colspan="3">
                <label class="formHeaderTag">
                    &nbsp;&nbsp;Add Wire Parameters</label>
            </td>
        </tr>
        <tr>
            <td>
                &nbsp;
            </td>
        </tr>
        <tr>
            <td valign="top">
                <label>
                    Parameter Name:</label>
            </td>
            
            <td valign="top">
                <input class="modelControl validate[required]" data-bind="value:data.Fk_Material"
                    type="text" placeholder="Para Name" id="txtFk_Material" style="width: 100%"
                    readonly />
            </td>
            <td valign="top" align="left">
                <button type="submit" class="btn cmdCreate" id="cmdSearchMaterialsdetails">
                    Search</button>
            </td>
               <td valign="top">
                <input class="modelControl validate[required]" data-bind="value: data.Pk_CharID"
                    type="hidden" placeholder="Pk_CharID" id="Pk_CharID" style="width: 100%"
                    readonly />
            </td>
        </tr>
          <tr>
            <td valign="top">
                <label>
                    Std.Value</label>
            </td>
            <td valign="top">
                <input class="modelControl validate[required]"  data-bind="value: data.StdVal" readonly=""
                    type="text" placeholder="StdVal" id="StdVal" style="width: 80%" />
            </td>
            <td>
                &nbsp;
            </td>
        </tr>
         <tr>
            <td valign="top">
                <label>
                    Observed</label>
            </td>
            <td valign="top">
                <input class="modelControl" onblur="CheckAccept()" data-bind="value: data.Observed"
                    type="text" placeholder="Observed" id="Observed" style="width: 80%" maxlength="150" />
            </td>
            <td>
                &nbsp;
            </td>
        </tr>
          <tr>
        <td>
            <label>Status</label></td>


        <td>
            <div id="radiobtns">
                <table>
                    <tr>
                        <td>
                            <label class="radio">
                                <input type="radio" id="Fk_Yes" name="Status" data-bind="checked: data.Fk_Yes" value="Yes"  class="input-large search-query" checked onclick="    radioClass('Yes')"/><span class="metro-radio">Accepted</span>
                            </label>
                        </td>
                        <td>
                            <label class="radio">
                                <input type="radio" id="Fk_No" name="Status" value="No"  data-bind="checked: data.Fk_No" onclick="    radioClass('No')"/><span class="metro-radio">Rejected</span>
                            </label>
                        </td>
                      <td valign="top">
                <input class="modelControl validate[required]" data-bind="value: data.Status" readonly="" 
                    type="text" placeholder="Status" id="Status" style="width: 50%" maxlength="150" />
            </td>
                    </tr>
                </table>
            </div>
         
        </td>
    </tr>
            <tr>
            <td valign="top">
                <label>
                   Remarks</label>
            </td>
            <td valign="top">
                <input class="modelControl validate[required]"  data-bind="value: data.Remarks"
                    type="text" placeholder="Remarks" id="Remarks" style="width: 80%" maxlength="150" />
            </td>
            <td>
                &nbsp;
            </td>
        </tr>
         
        <tr>
            <td>
                &nbsp;
            </td>
            <td>
                <button type="submit" class="btn cmdCreate" id="cmdSaveMaterial">
                    Save</button>
            </td>
            <td>
                &nbsp;
            </td>
        </tr>
   
       
    </table>
</div>
<div style="display: none; width: 550px; height: 600px;" id="divSearchMaterial">
    <table cellpadding="8" cellspacing="0" border="0" width="100%">
        <tr>
            <td>
               
            </td>
        </tr>
        <tr>
            <td colspan="1">
                <input type="text" id="txtSMaterial" data-bind="value: data.MaterialName" placeholder="Parameter Name"
                    class="input-large search-query" style="width: 70%" />
                <button type="submit" class="btn" id="cmdMaterialSearch">
                    Search</button>
                <button type="submit" class="btn" id="cmdMaterialDone">
                    Done</button>
            </td>
        </tr>


                     <table cellpadding="8" cellspacing="0" border="0" width=80%">
        <tr>
            <td colspan="1">
                <div id="dlgMaterialSearchFields">
                </div>
                @*<input type="text" id="txtEnquiry" data-bind="value: data.Customer" placeholder="Customer Name" class="input-large search-query"/>
            <input type="text" id="txtCommunicationType" data-bind="value: data.CommunicationType" placeholder="CommunicationType" class="input-large search-query"/>*@
                <br />
                   @*    <div id="radiobtns">
                                <table width="50%">
                                    <tr>
                                        <td style="width:50px" valign="top">
                                            <label class="radio">
                                                <input type="radio" id="Board"name="Status" value="Board" onchange="showOnlyBoard()" class="input-large search-query" /><span class="metro-radio">Board</span>
                                            </label>
                                           
                                        </td>
                                        
                                        <td style="width:50px" valign="top"">
                                            <label class="radio">
                                                <input type="radio" id="Gum" name="Status" value="Gum" onchange="showOnlyGum()" class="input-large search-query" /><span class="metro-radio">Gum</span>
                                            </label>
                                               
                                        </td>
                                        
                                         <td style="width:50px" valign="top">
                                            <label class="radio">
                                                <input type="radio" id="Ink" name="Status" value="Ink" onchange="showOnlyInk()" class="input-large search-query" /><span class="metro-radio">Ink</span>
                                            </label>
                                                
                                        </td>

                                        <td style="width:50px" valign="top">
                                            <label class="radio">
                                                <input type="radio" id="Paper" name="Status" value="Paper" onchange="showOnlyPaper()" class="input-large search-query" /><span class="metro-radio">Paper</span>
                                            </label>
                                               
                                        </td>


                                        <td style="width:50px" valign="top">
                                            <label class="radio">
                                                <input type="radio" id="Honeycomb" name="Status" value="Honeycomb" onchange="showOnlyHoneycomb()" class="input-large search-query" /><span class="metro-radio">HoneyComb</span>
                                            </label>
                                               
                                        </td>
                                        
                             <tr>
            <td>
                 <input type="hidden" class="input-large"  placeholder="TYPE" id="SType" /></td>
            </td>
        </tr>
                                    </table>

                       </div>*@
                
                </td></tr>
                </table>



        <tr>
        </tr>
        <tr>
            <td>
                <div id="MaterialSearchContainer">
                </div>
            </td>
        </tr>
    </table>
</div>
