﻿<input type="hidden" id="hidPkBox" data-bind="value: data.Pk_BoxID" />

<table cellspacing="0" cellpadding="0" border="0" width="40%">
    <br />
    <tr  class="formHeader">
        <td >
            <label class="formHeaderTag">&nbsp;&nbsp;@ViewBag.Context Wire Certificate</label></td>
        <td  align="right">
            <button class="btn" type="submit" id="cmdBackSearch">Back</button></td>
    </tr>
    <tr>
        <td>&nbsp;</td>
    </tr>
 <table border="0" cellspacing="0" cellpadding="0" style="width: 50%">
    <tr>
        <td colspan="2">&nbsp;
        </td>
    </tr>
     <table>
     <tr>
        <td>
            <label>Vendor</label></td>
        <td>
            <table>
                <tr>
                    <td valign="top">
                        <input class="input-large modelControl" readonly data-bind="wgReferenceField: data.Fk_Vendor" type="text" placeholder="Vendor Name" id="Fk_Vendor" />
                    </td>
                    <td valign="top">
                        <button class="btn btn-primary" id="cmdVendorSearch">Search</button>
                    </td>



                </tr>
            </table>
    </tr>
     <tr>
        <td>
            <label>Wire</label></td>
        <td>
            <table>
                <tr>
                    <td valign="top">
                        <input class="input-large modelControl " readonly data-bind="wgReferenceField: data.Fk_Material" type="text" placeholder="Material Name" id="txtFkMaterial" />
                    </td>
                    <td valign="top">
                        <button class="btn btn-primary" id="cmdMaterialMSearch">Search</button>
                          <input class="input-large modelControl " readonly data-bind="value: data.GSM" type="hidden" placeholder="Material Name" id="txtGSM" />
                    </td>


                </tr>
            </table>
    </tr>
    <tr>
        <td>
            <label>Invoice No.</label></td>
        <td>
        @*    <input class="input-medium" data-bind="value: data.InvNo" placeholder="InvNo." id="txtInvNo" maxlength="10" /></td>*@
             <input class="input-medium modelControl validate[required]" data-bind="value: data.InvNo" type="text" placeholder="InvNo " id="txtInvNo" maxlength="7" /></td>
    
      <td>&nbsp;
                    </td>
        
    
    </tr>

    <tr>
        <td>
            <label>Invoice Date</label></td>
        <td>
            <input type="text" readonly class="span3 input-mini" id="dtDate" data-bind="value: data.InvDate" data-date-format="dd/mm/yyyy" class="span3 input-mini" data-provide="datepicker" />
        </td>
    </tr>
   <tr>
        <td>
            <label>Quantity</label></td>
        <td>
            <input class="input-mini modelControl validate[required,custom[number]," data-bind="value: data.Quantity" type="text" placeholder="Quantity " id="Quantity" maxlength="7" /></td>
    </tr>

  
       <tr>
        <td>
            <label>Tested By </label></td>
        <td>
            <input class="input-medium modelControl validate[required]" data-bind="value: data.Tested" type="text" placeholder="Tested " id="Tested" maxlength="50" /></td>
    </tr>
   <tr>
        <td>
            <label>Approved By</label></td>
        <td>
            <input class="input-medium modelControl validate[required]" data-bind="value: data.Approved" type="text" placeholder="Approved " id="Approved" maxlength="50" /></td>
    </tr>

 



</table>
<table cellspacing="0" cellpadding="0" border="0" style="width: 40%">
    <tr>
        <td>
            <div id="divListContainer">
                <div style="padding-bottom: 5px">
                    <button id="cmdAddMaterial" type="submit">
                        Add Wire Params.</button>
                </div>
                <div style="padding-bottom: 8px" id="tlbMaterials">
                </div>
            </div>
        </td>
    </tr>
    <tr align="center">
        <td>
            <button type="submit" class="btn cmdCreate" data-bind="click: save" id="cmdCreate">
                Save</button>
        </td>
    </tr>
</table>