﻿@*//Name          : Screen Design for Unit -- Edit Mode(HTML)
//Description   : Contains the Label,TextBox,ComboBox Definitions Required for the Screen               
//Author        : Shantha
//Date 	        : 07/08/2015
//Crh Number    : SL0003
//Modifications : *@

<table cellspacing="0" cellpadding="0" border="0" width="40%">
     <br />
    <tr class="formHeader">
        <td>
            <label class="formHeaderTag">&nbsp;&nbsp;@ViewBag.Context Unit</label></td>
        <td align="right">
            <button class="btn" type="submit" id="cmdBackSearch">Back</button></td>
    </tr>
    <tr>
        <td>&nbsp;</td>
    </tr>
    <tr>
        <td>
            <label>Unit Name</label></td>
        <td>
            <input class="input-large" readonly data-bind="value: data.UnitName" type="text" placeholder="Unit Name" id="UnitName" maxlength="50"/></td>
</tr>
  @*  <tr>
        <td>
            <label>Unit Type</label></td>
        <td>
            <input class="input-large validate[custom[onlyLetterSp]]" data-bind="value: data.UnitType" type="text" placeholder="Unit Type" id="UnitType" maxlength="50"/></td>
</tr>*@
    <tr>
        <td>
            <label>Description</label></td>
        <td>
            <input class="input-large " data-bind="value: data.Description" type="text" placeholder="Description" id="Description" maxlength="300"/></td>
</tr>
    <tr>
         <td></td>
   
              <td ><button type="submit" class="btn cmdCreate" data-bind="click: save" id="cmdCreate" >Save</button></td>
    </tr>
</table>
