﻿
@*//Name          : Screen Design for Unit -- New Mode(HTML)
//Description   : Contains the Label,TextBox,ComboBox Definitions Required for the Screen               
//Author        : shantha
//Date 	        : 07/08/2015
//Crh Number    : SL0003
//Modifications : *@

<table cellspacing="0" cellpadding="0" border="0" width="40%">

    <br />
    <tr style="width: 10%" class="formHeader">
        <td >
            <label class="formHeaderTag">&nbsp;&nbsp;Add Unit</label></td>
        <td  align="right">
            <button class="btn" type="submit" id="cmdBackSearch">Back</button></td>
    </tr>
    <tr>
        <td>&nbsp;</td>
    </tr>
    <tr>
        <td>
            <label>Name</label></td>
        <td>
            <input class="input-large validate[required,custom[onlyLetterSp],funcCall[CheckUnitDuplicate]" data-bind="value: data.UnitName" type="text" placeholder="Unit Name" id="UnitName" maxlength="50"/></td>
</tr>
@*    <tr>
        <td>
            <label>Type</label></td>
        <td>
            <input class="input-large validate[custom[onlyLetterSp]]" data-bind="value: data.UnitType" type="text" placeholder="Unit Type" id="UnitType" maxlength="50"/></td>
</tr>*@
    <tr>
        <td>
            <label>Description</label></td>
        <td>
            <textarea data-bind="value: data.Description" type="text" placeholder="Description" id="Description" maxlength="300"/></td>
</tr>
    <tr>
        <td>&nbsp;</td>
        <td >
            <button type="submit" class="btn cmdCreate" data-bind="click: save" id="cmdCreate">Save</button></td>
    </tr>
</table>
