﻿

<table width="90%" cellpadding="5" cellspacing="0" border="0">
    <tr>
        <td>
            <div id="divSearchArea">
                <table cellpadding="3" cellspacing="0" border="0" width="90%">
                    <tr>
                        <td style="width: 60%">
                            <table>
                                <tr>
                                    <td valign="top">
                                        <input type="text" id="txtPKJob" placeholder="Cust.Name" class="input-large search-query" /></td>
                                    <td valign="top">
                                        <input type="text" id="txtOrder" placeholder="BoxName" style="width: 200px" /></td>
                                  <td valign="top">
                                        <input type="text" id="txtVendor" placeholder="Converter" style="width: 200px" /></td>
                                  
                                    
                                      <td valign="top">
                                        <input type="text" id="TxtFromDate" placeholder="From Date" class="span2 input-medium" data-date-format="dd/mm/yyyy" data-provide="datepicker" style="width: 210px" />
                                    </td>
                                    <td valign="top">
                                        <input type="text" id="TxtToDate" placeholder="To Date" class="span2 input-medium" data-date-format="dd/mm/yyyy" data-provide="datepicker" style="width: 210px" />
                                    </td>

                                    <td valign="top">
                                        <button type="submit" class="btn" id="LoadRecordsButton">
                                            Search</button></td>
                                    <td valign="top">
                                        <button type="submit" class="btn" id="cmdNew">
                                            Add Job Card</button></td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                   
                    @*<tr>
                        <td style="width: 40%">
                            <label class="checkbox" style="width: 250px">
                                <input type="checkbox" id="chkonlyPending" onchange="showOnlyPending()"><span class="metro-checkbox">Show
                                    Only Pending</span>
                            </label>
                        </td>
                    </tr>*@
                    <tr>
                        <td colspan="2">
                            <div id="MainSearchContainer">
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
        </td>
    </tr>
</table>
