﻿@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section JavascriptImport {
    
    <script src="~/Scripts/Frameworks/WebGare/Controls/WgReferenceField.js" type="text/javascript"></script>
    <script type="text/javascript" src="~/Scripts/Application/JobCardJW/JobCardOperations.js"></script> 
    <script type="text/javascript" src="~/Scripts/Application/JobCardJW/materials.js"></script> 
    
    @*<script type="text/javascript" src="~/Scripts/Application/JobCard/JobCard.js"></script>*@ 
    <script src="~/Scripts/Frameworks/WebGare/Configuration/WgOne2ManyConfigurator.js"
     @*<script src="~/Scripts/Frameworks/WebGare/Configuration/WgOne2ManyfrmConfigurator.js"
        type="text/javascript"></script>*@
    <script src="~/Scripts/Frameworks/WebGare/Controls/WgWorkFlowButtons.js" type="text/javascript"></script>
    <script src="~/Scripts/Frameworks/WebGare/Controls/WgWorkFlowDisplay.js" type="text/javascript"></script>
      <script src="~/Scripts/Frameworks/WebGare/Dependency/Dropzone/dropzone.js" type="text/javascript"></script>
    <script src="~/Scripts/Frameworks/WebGare/Controls/wgFileUpload.js" type="text/javascript"></script>
    
}
@section CssImport {
    <link href="~/Scripts/Frameworks/WebGare/Dependency/Dropzone/basic.css" rel="stylesheet"
        type="text/css" />
    <link href="~/Scripts/Frameworks/WebGare/Dependency/Dropzone/dropzone.css" rel="stylesheet"
        type="text/css" />
    <link href="~/Scripts/Frameworks/WebGare/Dependency/Dropzone/general.css" rel="stylesheet"
        type="text/css" />
}

@section MainSection{
<div id="divMainSection" wgPageType="CRUD" wgTag="JW_JobCard">
    <div id="divDataArea" align="center" style="padding-top:5px"></div>
    <div id="divSearchArea" align="center" ></div>
 </div>
}


      <div id="searchBoxDialog" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="width:700px; height:500px">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
            <h3 id="srchHeader">Order</h3>
        </div>
        <table cellpadding="8" cellspacing="0" border="0" width="95%">

            <tr>
                
                <td valign="top">
                    <input type="text" id="txtdlgOrdNo" placeholder="OrderNo" class="input-medium" />
                </td>
                <td valign="top">
                    <input type="text" id="txtdlgEnq" placeholder="EnqNo" class="input-medium" />
                </td>
                <td valign="top">
                    <input type="text" id="txtdlgCustomerName" placeholder="Customer Name" class="input-medium" />
                </td>
               
                  <td valign="top">
                    <input type="text" id="txtdlgPoNo" placeholder="PONo" class="input-medium" />
                </td>
           @*     <td valign="top">
                    <input type="text" id="txtdlgBoxName" placeholder="Box Name" class="input-medium" />
                </td>*@
            </tr>
            <tr>
                <td colspan="2">
                    <button type="submit" class="btn" id="cmdOrderSearch">Search</button>
                    <button type="submit" class="btn" id="cmdOrderDone">Done</button>
                </td>

            </tr>
            <tr>
                <td colspan="4">
                    <div id="MainSearhContainer">
                    </div>
                </td>
            </tr>


        </table>
       
    </div>

          <div id="searchBoxDialog1" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="width:700px; height:500px">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
            <h3 id="srchHeader1">Box</h3>
        </div>
        <table cellpadding="8" cellspacing="0" border="0" width="95%">

            <tr>
                <td valign="top">
                    <input type="text" id="txtdlgBoxName" placeholder="Box Name" class="input-medium" />
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <button type="submit" class="btn" id="cmdBoxSearch">Search</button>
                    <button type="submit" class="btn" id="cmdBoxDone">Done</button>
                </td>

            </tr>
            <tr>
                <td colspan="4">
                    <div id="MainSearhContainer2">
                    </div>
                </td>
            </tr>


        </table>
       
    </div>
        <div id="searchDialog" class="modal hide fade" tabindex="100" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="width: 700px; height: 500px">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
        <h3 id="srchHeader2">Vendor Search</h3>
    </div>
    <table cellpadding="8" cellspacing="0" border="0" width="100%">
        <tr>
            <td colspan="1">
                <table>
                    <tr>
                        <td valign="top">
                            <input type='text' id='txtdlgVendorName' placeholder='Name' class='input-large search-query' />
                        </td>
                       @* <td valign="top">
                            <input type='text' id='txtdlgIssueFromDate' placeholder='From Date' data-date-format='dd/mm/yyyy' class='span2 input-medium' data-provide='datepicker' />
                        </td>
                        <td valign="top">
                            <input type='text' id='txtdlgIssueToDate' placeholder='To Date' data-date-format='dd/mm/yyyy' class='span2 input-medium' data-provide='datepicker' />
                        </td>*@
                        <td valign="top">
                            <button type="submit" class="btn" id="cmdSearch">Search</button></td>
                        <td valign="top">
                            <button type="submit" class="btn" id="cmdDone">Done</button></td>
                    </tr>
                </table>


            </td>
        </tr>
        <tr>
        </tr>
        <tr>
            <td>
                <div id="MainSearhContainer1">
                </div>
            </td>
        </tr>
    </table>
</div>


  