﻿@*//Name          : Screen Design for payment to vendor -- Search Mode(HTML)
//Description   : Search is done on the fields-payment id, vendor name.description,chequeno and chequedate
//Author        : shantha
//Date 	        : 20/10/2015
//Crh Number    : SL0005
//Modifications : *@


<table width="80%" cellpadding="5" cellspacing="0" border="0">
    <tr>
        <td>
            <div id="divSearchArea">
                <table cellpadding="3" cellspacing="0" border="0" width="100%">
                    <tr>
                        <td>
                            <table>
                                <tr>
                                    <td align="center" valign="top">
                                        <input type="text" id="TxtID" placeholder="PaymentID" class="input-large search-query" /></td>
                                     <td align="center" valign="top">
                                        <input type="text" id="TxtVendor" placeholder="Vendor" class="input-large search-query" /></td>
                                    <td align="center" valign="top">
                                        <input type="text" id="TxtDescription" placeholder="Description" class="input-large search-query" /></td>

                                    <td align="center" valign="top">
                                        <input type="text" id="TxtChequeNo" placeholder="ChequeNo" class="input-large search-query" /></td>
                                    <td align="center" valign="top">
                                        <input type="text" id="TxtDate" placeholder="ChequeDate" class="span2 input-medium" data-date-format="dd/mm/yyyy" data-provide="datepicker" style="width: 210px" />
                                    </td>
                                    <td align="center" valign="top">
                                        <button type="submit" class="btn" id="LoadRecordsButton">Search</button></td>
                                    <td align="center" valign="top">
                                        <button type="submit" class="btn" id="cmdNew">Add Payment</button></td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <div id="MainSearchContainer"></div>
                        </td>
                    </tr>
                </table>
            </div>

        </td>
    </tr>
</table>
