﻿
<table width="70%" cellpadding="5" cellspacing="0" border="0">
<br />
    <tr>
        <td>
            <div id="divSearchArea">
                <table cellpadding="3" cellspacing="0" border="0" width="100%">
                    <tr>
                        <td>
                             <input type="text" id="txtMaintenanceID" placeholder="Maintenance ID" class="input-large search-query"/>
                        <input type="text" id="txtFromDate" placeholder="From Date" class="input-large search-query" data-date-format="dd/mm/yyyy" class="validate span2 input-medium" data-provide="datepicker"/>
                           <input type="text" id="txtToDate" placeholder="To Date" class="input-large search-query"  data-date-format="dd/mm/yyyy" class="validate span2 input-medium" data-provide="datepicker"/>
                        <button type="submit" class="btn" id="LoadRecordsButton">Search</button>
                        <button type="submit" class="btn" id="cmdNew" >Add Maintenance</button>
                        </td>
                    </tr>
                    <tr><td></td></tr>
        <tr><td></td></tr>
                    <tr>
                        <td colspan="2"><div id="MainSearchContainer"></div></td>
                    </tr>
                </table>               
            </div>
            
        </td>
    </tr>
</table>