﻿@{
    ViewBag.Title = "Inward Box";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@section JavascriptImport {
       
    <script type="text/javascript" src="~/Scripts/Application/MatInwd/InwdOperations.js"></script>
  <script type="text/javascript" src="~/Scripts/Application/MatInwd/Materials.js"></script>
    <script src="~/Scripts/Frameworks/WebGare/Controls/WgReferenceField.js" type="text/javascript"></script>
        <script src="~/Scripts/Frameworks/WebGare/Configuration/wgOne2ManyConfigurator.js" type="text/javascript"></script>
       
  
}
@*@section CssImport {
    <link href="~/Scripts/Frameworks/WebGare/Dependency/Dropzone/basic.css" rel="stylesheet"
        type="text/css" />
    <link href="~/Scripts/Frameworks/WebGare/Dependency/Dropzone/dropzone.css" rel="stylesheet"
        type="text/css" />
    <link href="~/Scripts/Frameworks/WebGare/Dependency/Dropzone/general.css" rel="stylesheet"
        type="text/css" />
}*@
@section MainSection{
    <div id="divMainSection" wgpagetype="CRUD" wgtag="InwdBox">
        <div id="divDataArea" align="center" style="padding-top: 5px"></div>
        <div id="divSearchArea" align="center"></div>
    </div>
}


<div id="searchDialog" class="modal hide fade" tabindex="100" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="width: 700px; height: 800px">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
        <h3 id="srchHeader">Vendor Search</h3>
    </div>
    <table cellpadding="8" cellspacing="0" border="0" width="100%">
        <tr>
            <td colspan="1">
                <table>
                    <tr>
                        <td valign="top">
                            <input type='text' id='txtdlgVendorName' placeholder='Name' class='input-large search-query' />
                        </td>
                       @* <td valign="top">
                            <input type='text' id='txtdlgIssueFromDate' placeholder='From Date' data-date-format='dd/mm/yyyy' class='span2 input-medium' data-provide='datepicker' />
                        </td>
                        <td valign="top">
                            <input type='text' id='txtdlgIssueToDate' placeholder='To Date' data-date-format='dd/mm/yyyy' class='span2 input-medium' data-provide='datepicker' />
                        </td>*@
                        <td valign="top">
                            <button type="submit" class="btn" id="cmdSearch">Search</button></td>
                        <td valign="top">
                            <button type="submit" class="btn" id="cmdDone">Done</button></td>
                    </tr>
                </table>


            </td>
        </tr>
        <tr>
        </tr>
        <tr>
            <td>
                <div id="MainSearhContainer">
                </div>
            </td>
        </tr>
    </table>
</div>
  <div id="searchBoxDialog" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="width: 700px; height: 500px">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
            <h3 id="srchHeader1">Customer</h3>
        </div>
        <table cellpadding="8" cellspacing="0" border="0" width="95%">


            <tr>
                <td valign="top">
                    <input type="text" id="txtdlgBoxName" placeholder="CustomerName" class="input-medium" />
                </td>
       @*         <td valign="top">
                    <input type="text" id="txtdlgPartNo" placeholder="CommunicationType" class="input-medium" />
                </td>*@


            </tr>
            <tr>
                <td colspan="2">
                    <button type="submit" class="btn" id="cmdBoxSearch">Search</button>
                    <button type="submit" class="btn" id="cmdBoxDone">Done</button>
                </td>

            </tr>
            <tr>
                <td colspan="4">
                    <div id="MainSearhContainer2">
                    </div>
                </td>
            </tr>


        </table>

    </div>