﻿@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section JavascriptImport {
    <script type="text/javascript" src="~/Scripts/Application/BoxOperations.js"></script>
    <script src="~/Scripts/Frameworks/WebGare/Controls/WgReferenceField.js" type="text/javascript"></script>
    <script src="../../Content/bootmetro/js/bootmetro-pivot.js" type="text/javascript"></script>
    <script src="../../Scripts/Application/SampBoxSpecification/Box.js" type="text/javascript"></script>
    <script src="../../Scripts/Application/SampBoxSpecification/BoxPart.js" type="text/javascript"></script>
    <script src="../../Scripts/Application/SampBoxSpecification/BoxOperations.js" type="text/javascript"></script>
    <script src="~/Scripts/Frameworks/WebGare/Configuration/WgOne2ManyConfigurator.js"
        type="text/javascript"></script>
}
@section MainSection{
    <table width="100%" cellpadding="5">
        <tr>
            <td width="1%">&nbsp;</td>
            <td>
                <div id="pivot" class="pivot slide">
                    <div class="pivot-headers">
                        <a href="#pivot" data-pivot-index="0" class="active" id="Basic"></a>
                        <a href="#pivot" data-pivot-index="1" id="Details"></a>
                    </div>
                    <div class="pivot-items">
                        <div id="pivot-item-1" class="pivot-item active">
                            <br />
                            <h3></h3>
                            <br />
                            <table cellpadding="3" cellspacing="0" border="0" width="80%">
                                <tr>
                                    <td>
                                        <label></label>
                                    </td>
                                    <td>
                                        <label></label>
                                    </td>
                                </tr>
                                @*  <tr>
                       <td><div class="circle"><b>&nbsp;</b></div></td>
                   </tr>*@


                                <tr>
                                    <td class="wgGradient" colspan="2">
                                        <label>Select Valid Parts</label></td>
                                </tr>
                                <tr>
                                    <td colspan="2">
                                        <table width="100%" border="0" id="shellSelection">
                                            <tr>
                                                <td>
                                                    <label class="checkbox inline">
                                                        <input class="ckhPart" type="checkbox" id="chkOuterShell" value="outerShell" data-bind="checked: outerShellYes" tabindex="1" />
                                                        <span class="metro-checkbox" style="width: 100px">Outer Shell</span>
                                                    </label>
                                                </td>
                                                <td>
                                                    <label class="checkbox inline">
                                                        <input class="ckhPart" type="checkbox" id="chkLengthPartation" value="lenghtPartation" data-bind="checked: lenghtPartationYes" tabindex="3" />
                                                        <span class="metro-checkbox" style="width: 200px">Length Partition</span>
                                                    </label>
                                                </td>
                                                <td>
                                                    <label class="checkbox inline">
                                                        <input class="ckhPart" type="checkbox" id="chkWidthPartation" value="widthPartation" data-bind="checked: widthPartationYes" tabindex="5" />
                                                        <span class="metro-checkbox" style="width: 200px">Width Partition</span>
                                                    </label>
                                                </td>
                                                <td>
                                                    <label class="checkbox inline">
                                                        <input class="ckhPart" type="checkbox" id="chkPlate" value="plate" data-bind="checked: plateYes" tabindex="7" />
                                                        <span class="metro-checkbox" style="width: 100px">Plate</span>
                                                    </label>
                                                </td>
                                                <td>
                                                    <label class="checkbox inline">
                                                        <input class="ckhPart" type="checkbox" id="chkCap" value="cap" data-bind="checked: capYes" tabindex="9" />
                                                        <span class="metro-checkbox" style="width: 100px">Cap</span>
                                                    </label>
                                                </td>

                                                <td>
                                                    <label class="checkbox inline">
                                                        <input class="ckhPart" type="checkbox" id="chkTop" value="topval" data-bind="checked: topYes" tabindex="11" />
                                                        <span class="metro-checkbox" style="width: 100px">Top</span>
                                                    </label>
                                                </td>


                                                <td>
                                                    <label class="checkbox inline">
                                                        <input class="ckhPart" type="checkbox" id="chkBott" value="bottval" data-bind="checked: bottomYes" tabindex="13" />
                                                        <span class="metro-checkbox" style="width: 100px">Bottom</span>
                                                    </label>
                                                </td>

                                                <td>
                                                    <label class="checkbox inline">
                                                        <input class="ckhPart" type="checkbox" id="chkSleeve" value="sleeve" data-bind="checked: sleeveYes" tabindex="15" />
                                                        <span class="metro-checkbox" style="width: 100px">Sleeve</span>
                                                    </label>
                                                </td>

                                            </tr>
                                            <tr>
                                                <td>
                                                    <input class="input-mini" type="text" placeholder="No.Of" id="txtOuterShell" data-bind="value: outerShell" />
                                                    <label>Ply</label>
                                                    <input class="input-mini" type="text" placeholder="No.Of Ply" id="txtOuterShellPly" tabindex="2" />
                                                </td>
                                                <td>
                                                    <input class="input-mini" type="text" placeholder="No.Of" id="txtLPartation" data-bind="value: lenghtPartation" />
                                                    <label>Ply</label>
                                                    <input class="input-mini  validate[required]" type="text" placeholder="No.Of Ply" id="txtLPartationPly" tabindex="4" />
                                                </td>
                                                <td>
                                                    <input class="input-mini" type="text" placeholder="No.Of" id="txtWidthPartation" data-bind="value: widthPartation" />
                                                    <label>Ply</label>
                                                    <input class="input-mini  validate[required]" type="text" placeholder="No.Of Ply" id="txtWidthPartationPly" tabindex="6" />
                                                </td>
                                                <td>
                                                    <input class="input-mini" type="text" placeholder="No.Of" id="txtPlate" data-bind="value: plate" />
                                                    <label>Ply</label>
                                                    <input class="input-mini  validate[required]" type="text" placeholder="No.Of Ply" id="txtPlatePly" tabindex="8" />
                                                </td>


                                                <td>
                                                    <input class="input-mini" type="text" placeholder="No.Of" id="txtCap" data-bind="value: cap" />

                                                    <label>Ply</label>
                                                    <input class="input-mini  validate[required]" type="text" placeholder="No.Of Ply" id="txtCapPly" tabindex="10" />
                                                </td>


                                                <td>
                                                    <input class="input-mini" type="text" placeholder="No.Of" id="txtTop" data-bind="value: topval" />
                                                    <label>Ply</label>
                                                    <input class="input-mini  validate[required]" type="text" placeholder="No.Of Ply" id="txtTopPly" tabindex="12" />
                                                </td>

                                                <td>
                                                    <input class="input-mini" type="text" placeholder="No.Of" id="txtBott" data-bind="value: bottval" />
                                                    <label>Ply</label>
                                                    <input class="input-mini  validate[required]" type="text" placeholder="No.Of Ply" id="txtBottPly" tabindex="14" />
                                                </td>

                                                <td>
                                                    <input class="input-mini" type="text" placeholder="No.Of" id="txtSleeve" data-bind="value: sleeve" />
                                                    <label>Ply</label>
                                                    <input class="input-mini  validate[required]" type="text" placeholder="No.Of Ply" id="txtSleevePly" tabindex="16" />
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="2">


                                        <button class="btn btn-primary" type="submit" id="cmdPublish" style="float: right">Next</button>
                                        <a style="float: right">&nbsp;</a>


                                        <button class="btn btn-primary" type="button" id="cmdNext" style="float: right">Back</button>
                                        <a style="float: right">&nbsp;</a>


                                    </td>
                                </tr>
                            </table>

                        </div>
                        <div id="pivot-item-2" class="pivot-item">
                            <h3>Enter the Specifications:</h3>
                            <table id="prtList" cellpadding="5" border="1" class="tlbEstmation"></table>
                        </div>
                    </div>
                </div>
            </td>
        </tr>
    </table>
}
<body>
    <div id="estDialog" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="width: 700px ; height:630px" align="center">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
            <h3 id="lyrHeader">Layer Details</h3>
        </div>
        <table cellpadding="1" cellspacing="0" border="0" width="100%" height="100" align="center">

            <tr>
                  <td>&nbsp;
                                </td>
                <td col width="80" align="left">
                    <label>
                        GSM</label>
                    <input class="input-mini UFields validate[funcCall[validateNumeric],required] "
                        data-bind="value: gsm" type="text" placeholder="GSM" id="OGSM" tabindex="16" />
                </td>
                <td col width="80" align="left">
                    <label>
                        BF</label>
                    <input class="input-mini UFields validate[funcCall[validateNumeric],required] "
                        data-bind="value: bf" type="text" placeholder="BF" id="OBF" tabindex="18" />
                </td>
                  
                             
                 <td col width="80" align="left">
                    <label>
                        Deckel</label>
                    <input class="input-mini UFields validate[funcCall[validateNumeric],required] "
                        data-bind="value: deckel" type="text" placeholder="Deckel" id="OD" tabindex="19" />
                </td>
                 
              
                <td  col width="80" align="left">
                    <label>
                        Color</label>
                    <input class="input-mini UFields validate[funcCall[validateNumeric],required] "
                        data-bind="value: color" type="text" placeholder="Color" id="OColor" tabindex="21" />
                </td>
                  <td  col width="80" align="left">
                    <label>
                        Tk.Up Fact.</label>
                    <input class="input-mini UFields validate[funcCall[validateNumeric],required] "
                        data-bind="value: rate" type="text" placeholder="TakeUpFactor" id="ORate" tabindex="22" />
               </td>
                  <td col width="80" align="left">
                    <button class="btn btn-primary" id="cmdSearchdetails" align="top">SearchPaper</button>
                </td>
                <td align="top">
                    @*<label align="top">
                        Paper
                    </label>*@
                    <input class="input-mini" data-bind="value: Fk_Material" type="hidden" placeholder="" id="OPaper" align="top" />
                    <input class="input-mini" data-bind="value: Weight" type="hidden" placeholder="" id="OWeight" align="top" />
                    <input class="input-mini" data-bind="value: Rate" type="hidden" placeholder="" id="OR" align="top" />
                </td>
              
            </tr>

            </table>
       
            <table>
            <tr>
                 <td>
                    <div id="MaterialSearchContainer">
                    </div>
                </td>
              
            </tr>
              <tr>
                  <td>
                <table border="1" height="20"  >

                </table>
                      </td>
              </tr>
                 
            <tr>
                <td class="wgGradient" colspan="6">Copy Options</td>
            </tr>
            <tr>
                <td colspan="6">
                    <button class="btn btn-primary" id="cmdCopyAll">Copy To All</button>
                    <button class="btn btn-primary" id="cmdCopyFluted">Copy To Fluted</button>
                    <button class="btn btn-primary" id="cmdNonFluted">Copy To NonFluted</button>
                </td>
            </tr>
            <tr>
                <td colspan="7">
                    <table width="100%">
                        <tr id="dlgCopyOptions"></tr>
                    </table>
                </td>
            </tr>
                   <tr>
                  <td>
                <table border="1" height="20"  >

                </table>
                      </td>
              </tr>
                 

            <tr>
                <td colspan="4" align="center">
                    <button class="btn btn-primary" id="cmdSaveLayers">Save</button>
                </td>
            </tr>
        </table>
    </div>

</body>
