﻿
@*Name        : Screen Design for Customer -- Edit Mode(HTML)
Description   : Contains the Label,TextBox,ComboBox,Customer Contacts Definitions Required for the Screen               
Author        : CH.V.N.Ravi Kumar
Date 	      : 11/08/2015
Crh Number    : SL0006
Modifications : *@

<table cellspacing="0" cellpadding="0" border="0" width="80%">
 
            <input style="width: 75%; visibility: hidden;" class="input-large modelControl " data-bind="value: data.CustomerType" type="text" placeholder="CustomerType" id="CustomerType" />
            
    <tr class="formHeader">
        <td>
            <label class="formHeaderTag">
                &nbsp;&nbsp;@ViewBag.Context Customer</label>
        </td>
        <td align="right" colspan="2">
            <button class="btn" type="submit" id="cmdBackSearch">
                Back</button>
        </td>
    </tr>
   <tr>
        <td></td>
        <td></td>
        <td rowspan="11" valign="top">
            <table border="0" cellpadding="0" cellspacing="0" width="100%">
                <tr>
                    <td align="right">
                        <button type="submit" class="btn" id="cmdAddShipping">Add Shipping Details</button></td>
                </tr>
                <tr>
                    <td>
                        <div id="divShippingDetails"></div>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td>
    <input style="width: 75%; visibility: hidden;" class="input-large modelControl " data-bind="value: data.Pk_Customer" type="text" placeholder="Pk_Customer" id="Pk_Customer" />
        </td>
    </tr>
    <tr>
        <td>
            <label>Name</label></td>
        <td>
            <input style="width: 75%" class="input-large modelControl validate[required]" data-bind="value: data.CustomerName" type="text" placeholder="Name" id="CustomerName" maxlength="100"/></td>
    </tr>
       <tr>
        <td>
            <label>Short Name</label></td>
        <td>
            <input style="width: 75%" class="input-large modelControl validate[required]" data-bind="value: data.CustomerShort" type="text" placeholder="ShortName" id="CustomerShort" maxlength="10"/></td>
    </tr>
    <tr>
        <td>
            <label>Type</label></td>


        <td>
            <div id="radiobtns">
                <table>
                    <tr>
                        <td>
                            <label class="radio">
                                <input type="radio" id="Fk_Gold" name="SCustomerType" data-bind="checked:data.Fk_Gold" value="Gold" class="input-large search-query" onclick="radioClass('Gold')" /><span class="metro-radio">Gold</span>
                            </label>
                        </td>
                        <td>
                            <label class="radio">
                                <input type="radio" id="Fk_Silver" name="SCustomerType" value="Silver" data-bind="checked:data.Fk_Silver" onclick="radioClass('Silver')" /><span class="metro-radio">Silver</span>
                            </label>
                        </td>
                        <td>
                            <label class="radio">
                                <input type="radio" id="Fk_Normal" name="SCustomerType" value="Normal" data-bind="checked:data.Fk_Normal" onclick="radioClass('Normal')" /><span class="metro-radio">Normal</span>
                            </label>
                        </td>
                    </tr>
                </table>
            </div>
        </td>
    </tr>
    @*  <tr>
        <td>
            <label style="text-decoration: underline"><b>Office Address</b></label></td>

    </tr>*@

    <tr>
        <td>
            <label>Address</label></td>
        <td>
            <textarea style="width: 75%" class="input-large modelControl validate[required]" data-bind="value: data.CustomerAddress" type="text" placeholder="No. & Street" id="CustomerAddress" maxlength="500" /></td>
    </tr>
    <tr>
        <td>
            <label>Country</label></td>
        <td>
            <select style="width: 75%" class="modelControl validate[required]" data-bind="options: Country,
                                                                       optionsCaption: 'Select',
                                                                       optionsText: 'Name',
                                                                       optionsValue: 'Id',
                                                                       value: data.Fk_Country"
                id="Fk_Country">
            </select>
        </td>
    </tr>

    <tr>
        <td>
            <label>State</label></td>
        <td>
            <select style="width: 75%" class="modelControl validate[required]" data-bind="options: State,
                                                                       optionsCaption: 'Select',
                                                                       optionsText: 'Name',
                                                                       optionsValue: 'Id',
                                                                       value: data.Fk_State"
                id="Fk_State">
            </select>
        </td>
    </tr>
    <tr>
        <td>
            <label>City</label></td>
        <td>
            <select style="width: 75%" class="modelControl validate[required]" data-bind="options: city,
                                                                       optionsCaption: 'Select',
                                                                       optionsText: 'Name',
                                                                       optionsValue: 'Id',
                                                                       value: data.Fk_City"
                id="Fk_City">
            </select>
        </td>
    </tr>

    <tr>
        <td>
            <label>PinCode</label></td>
        <td>
            <input style="width: 75%" class="input-large modelControl validate[required,custom[number]]" data-bind="value: data.PinCode" type="text" placeholder="PinCode" id="PinCode" maxlength="50"/></td>
    </tr>
    <tr>
        <td>
            <label>Contact Number</label></td>
        <td>
            <input style="width: 75%" class="input-large modelControl validate[required,custom[number]]" data-bind="value: data.CustomerContact" type="text" placeholder="Contact Number" id="CustomerContact" maxlength="50"/></td>
    </tr>
    <tr>
        <td>
            <label>Land Line</label></td>
        <td>
            <input style="width: 75%" class="input-large modelControl validate[required,custom[number]]" data-bind="value: data.LandLine" type="text" placeholder="Land Line" id="LandLine" maxlength="50"/></td>

    </tr>
    <tr>
        <td>
            <label>Email</label></td>
        <td>
            <input style="width: 75%" class="input-large modelControl validate[required,custom[email]]" data-bind="value: data.Email" type="text" placeholder="Email" id="Email" /></td>

          <td>
            <label>Credit-In Days</label></td>
        <td>
            <input style="width: 75%" class="input-large modelControl" data-bind="value: data.CreditLimit" type="text" placeholder="CreditLimit" id="CreditLimit" /></td>

    </tr>
    <tr>
        <td>
            <label>Contact Person</label></td>
        <td>
            <input style="width: 75%" class="input-large modelControl validate[required]" data-bind="value: data.ContactPerson" type="text" placeholder="Contact Person" id="ContactPerson" /></td>
    
     <td>
            <label>Credit-Amount</label></td>
        <td>
            <input style="width: 75%" class="input-large modelControl" data-bind="value: data.CreditAmt" type="text" placeholder="CreditAmt" id="CreditAmt" /></td>

    
    </tr>
     <tr>
          <td> 
            <label>GST</label> </td>
       
          <td>  <input style="width: 75%" class="input-large modelControl" data-bind="value: data.VAT" type="text" placeholder="GST" id="VAT" maxlength="50"/></td>

    </tr>

    <tr>
        <td colspan="3" valign="top">
            <table cellpadding="5" id="contacts">
                <tr id="contactButtons">
                </tr>
                <tr id="contactList" datasource='Contacts' data-bind="WgContact: data.Contacts">
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td>&nbsp;
        </td>
        <td>
            <button type="submit" class="btn cmdCreate" data-bind="click: save" id="cmdCreate">
                Save</button>
        </td>
    </tr>
</table>
