﻿@*//Name          : Screen Design for Material Category -- Edit Mode(HTML)
//Description   : Contains the Label,TextBox,ComboBox Definitions Required for the Screen               
//Author        : Shantha
//Date 	        : 07/08/2015
//Crh Number    : SL0004
//Modifications : *@

<table cellspacing="0" cellpadding="0" border="0" width="40%">
    <br />
    <tr class="formHeader">
        <td>
            <label class="formHeaderTag">&nbsp;&nbsp;@ViewBag.Context MaterialCategory</label></td>
        <td align="right">
            <button class="btn" type="submit" id="cmdBackSearch">Back</button></td>
    </tr>
    <tr>
        <td>&nbsp;</td>
    </tr>
    <tr>
        <td>
            <label>Name</label></td>
        <td>
            <input class="input-large validate[required]" data-bind="value: data.Name" readonly type="text" placeholder="Name" id="Name" maxlength="30" /></td>
    </tr>

    <tr>
        <td>
            <label>Description</label></td>
        <td>
            <textarea data-bind="value: data.Description" type="text" placeholder="Description" id="Description" maxlength="100" /></td>
    </tr>

    <tr>
          <td>&nbsp;</td>
        <td >
            <button type="submit" class="btn cmdCreate" data-bind="click: save" id="cmdCreate">Save</button></td>
    </tr>
</table>
