﻿
<table cellspacing="0" cellpadding="0" border="0" width="50%">
    <tr class="formHeader">
        <td colspan='2'>
            <label class="formHeaderTag">&nbsp;&nbsp;Add Dispatch </label></td>
        <td align="right">
            <button class="btn" type="submit" id="cmdBackSearch">Back</button></td>
    </tr>
    <tr>
        <td>&nbsp;</td>
    </tr>

    <tr>
        
    </tr>

    <tr>
        <td valign="top">
            <label>Customer</label></td>
        <td>
            <table>
                <tr>
                  @*  <td valign="top">
                        <input class="input-large modelControl" readonly data-bind="value: data.Fk_Customer" type="text" placeholder="Customer" id="txtCustomer" />
                    </td>*@
                      <td valign="top">
                       <input class="modelControl validate[required]" readonly data-bind="wgReferenceField: data.Fk_Customer" type="text" placeholder="Customer Name" id="txtCustomer" tabindex="2" />
                        </td>
                    <td valign="top">
                        <button class="btn btn-primary" id="cmdOrdersSearch">Search</button>
                    </td>
                    <td>
            <label>Dispatch Date</label></td>
        <td>
            <input type="text" readonly id="dtDis_Date" data-bind="value: data.Dis_Date" data-date-format="dd/mm/yyyy" class="span2 input-medium" data-provide="datepicker" />
        </td>
                </tr>
  </table>  
        </td> </tr>
                
        
   

    @*    <tr>
        <td>
            <label>Customer</label></td>
        <td>
            <input class="input-large modelControl validate[required]" readonly data-bind="wgReferenceField: data.fk_Customer" type="text" placeholder="Customer" id="txtfk_Customer" />
               <button class="btn btn-primary" id="cmdCustomerSearch">Search</button> 
        </td>

    </tr>

     <tr>
        <td>
            <label>Customer PO No.</label></td>
        <td>
            <input class="input-large modelControl validate[required]" data-bind="value: data.Cust_PO" type="text" placeholder="PO" id="PO" /></td>
    </tr>
    <tr>
 *@
    <tr>
        <td>&nbsp;</td>
    </tr>

</table>
<table cellspacing="0" cellpadding="0" border="0" style="width: 30%">
    <tr>
        <td>
            <div id="divListContainer">
                <div style="padding-bottom: 5px">
                    <button id="cmdAddSchedule" type="submit">
                        Add Box</button>
                </div>
                <div style="padding-bottom: 8px" id="divDeliveryschedule">
                </div>
            </div>
        </td>
    </tr>
    <tr align="center">
        <td>
            <button type="submit" class="btn cmdCreate" data-bind="click: save" id="cmdCreate">
                Save</button>
        </td>
    </tr>
</table>
