﻿@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section JavascriptImport {
  
    <script src="~/Scripts/Application/EleSparesOperations.js" type="text/javascript"></script>
}

@section MainSection{
<div id="divMainSection" wgPageType="CRUD" wgTag="ElectricalSpares">
    @*<div id="toolBarStortCuts" style="border-bottom-width:medium; border-color:Black">*@
      @*  <button class="win-command win-command-small" rel="tootlip" title="Back To Materials" id="cmdToMaterials">*@
        @* <span class="win-commandicon win-commandring  icon-list"></span>
         <span class="win-label">Materials</span>
        </button>*@
    </div>
    <div id="divDataArea" align="center" style="padding-top:5px"></div>
    <div id="divSearchArea" align="center"></div>
 </div>
}
<h2>Index</h2>
