﻿@*@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>*@


@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section JavascriptImport {
    
 

    <script src="~/Scripts/Frameworks/WebGare/Controls/WgReferenceField.js" type="text/javascript"></script>

    <script src="~/Scripts/Application/MaterialIssue/IssueOperations.js" type="text/javascript"></script>

    <script src="~/Scripts/Frameworks/WebGare/Configuration/WgOne2ManyfrmConfigurator.js" type="text/javascript"></script>


  
}

@section MainSection{
<div id="divMainSection" wgPageType="CRUD" wgTag="Issue">
    <div id="divDataArea" align="center" style="padding-top:5px"></div>
    <div id="divSearchArea" align="center"></div>
 </div>
}

<div id="searchCustomerDialog1" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="width: 1000px; height: 500px">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
        <h3 id="srchHeader">Customer List</h3>
    </div>
    <table cellpadding="8" cellspacing="0" border="0" width="100%">
        <tr>
            <td colspan="1">
                <div id="dlgCustomerSearchFields1">
                </div>
            
                <br />
                <button type="submit" class="btn" id="cmdCustSearch1">Search</button>
                <button type="submit" class="btn" id="cmdCustDone1">Done</button>
            </td>
        </tr>
        <tr>
        </tr>
        <tr>
            <td>
                <div id="CustSearchContainer1">
                </div>
            </td>
        </tr>
    </table>
</div>



<div id="searchJobCardDialog1" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="width: 1000px; height: 500px">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
        <h3 id="srchHeader1">JobCard List</h3>
    </div>
    <table cellpadding="8" cellspacing="0" border="0" width="100%">
        <tr>
            <td colspan="1">
                <div id="dlgJobCardSearchFields1">
                </div>
            
                <br />
                <button type="submit" class="btn" id="cmdJobCardSearch1">Search</button>
                <button type="submit" class="btn" id="cmdJobCardDone1">Done</button>
            </td>
        </tr>
        <tr>
        </tr>
        <tr>
            <td>
                <div id="JobCardSearchContainer1">
                </div>
            </td>
        </tr>
    </table>
</div>