﻿
<table cellspacing="0" cellpadding="0" border="0" width="30%">
    <br />
   
    <tr class="formHeader">
        <td>
            <label class="formHeaderTag">&nbsp;&nbsp;@ViewBag.Context Trans.Invoice</label></td>
        <td align="right">
            <button class="btn" type="submit" id="cmdBackSearch">Back</button></td>
    </tr>
    <tr>
        <td>&nbsp;</td>
    </tr>
      <tr>
        <td>
            <label>Transporter Name</label></td>
        <td>
            <table>
                <tr>
                    <td valign="top">
                        <input class="input-large modelControl " readonly data-bind="value: data.Fk_Transporter" type="text" placeholder="Transporter" id="txtTransporter" />
                    </td>
                   @* <td valign="top">
                        <button class="btn btn-primary" id="cmdTransporterSearch">Search</button>
                    </td>*@

                </tr>
            </table>
    </tr>
    <tr>
        <td>
            <label>Invoice No.</label></td>
        <td>
            <input class="input-large validate[required]" data-bind="value: data.Invno" type="text" placeholder="Invno" id="Invno" maxlength="50" /></td>
    </tr>
    <tr>
        <td>
            <label>Invoice Date</label></td>
        <td>
            <input type="text" readonly class="span2 input-medium" id="dtDate" data-bind="value: data.InvDate" data-date-format="dd/mm/yyyy" class="span2 input-medium" data-provide="datepicker" />
        </td>
    </tr>
    <tr>
        <td>
            <label>Vehicle No.</label></td>
        <td>
            <input class="input-large validate[required]" data-bind="value: data.VehicleNo" type="text" placeholder="VehicleNo" id="VehicleNo" maxlength="50" /></td>
    </tr>
    <tr>
        <td>
            <label>Vehicle Name</label></td>
        <td>
            <input class="input-large" data-bind="value: data.VehicleName" type="text" placeholder="VehicleName" id="VehicleName" maxlength="100" /></td>
    </tr>
    <tr>
        <td>
            <label>Driver Name</label></td>
        <td>
            <input class="input-large" data-bind="value: data.DriverName" type="text" placeholder="DriverName" id="DriverName" maxlength="70" /></td>
    </tr>
    <tr>
        <td>
            <label>Mobile No.</label></td>
        <td>
            <input class="input-large" data-bind="value: data.MobileNo" type="text" placeholder="MobileNo" id="MobileNo" maxlength="50" /></td>
    </tr>
     <tr>
        <td>
            <label>Customer Name</label></td>
        <td>
            <input class="input-large" data-bind="value: data.CustomerName" type="text" placeholder="Customer Name" id="CustomerName" maxlength="70" /></td>
    </tr>
    <tr>
        <td>
            <label>Pickup Point</label></td>
        <td>
            <input class="input-large" data-bind="value: data.Pickup_Point" type="text" placeholder="Pickup Point" id="Pickup_Point" maxlength="100" /></td>
    </tr>

    <tr>
        <td>
            <label>Drop Point</label></td>
        <td>
            <input class="input-large" data-bind="value: data.Drop_Point" type="text" placeholder="Drop Point" id="Drop_Point" maxlength="100" /></td>
    </tr>


    <tr>
        <td>
            <label>Amount</label></td>
        <td>
            <input class="input-medium validate[custom[onlyNumberSp]]" data-bind="value: data.Amount" type="text" placeholder="Amount" id="Amount" maxlength="10" /></td>
    </tr>

    <tr>
        <td>
            <label>Balance Amount</label></td>
        <td>
            <input class="input-medium" data-bind="value: data.BalAmt" type="text" placeholder="Amount" id="BalAmt" maxlength="10" /></td>
    </tr>

    <tr>
        <td>
   
              <td ><button type="submit" class="btn cmdCreate" data-bind="click: save" id="cmdCreate" >Save</button></td>
    </tr>
</table>
