﻿@{
    ViewBag.Title = "Index";
    Layout = null;
}
<html>
<head>
    <link href="@Url.Content("~/Content/bootmetro/css/bootmetro.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/bootmetro/css/bootmetro-responsive.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/bootmetro/css/datepicker.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/bootmetro/css/bootmetro-icons.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/bootmetro/css/bootmetro-ui-light.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Scripts/Plugins/validationEngine/validationEngine.jquery.css")" rel="stylesheet" type="text/css" />
    <script src="../../Scripts/jquery-2.1.4.min.js" type="text/javascript"></script>
    <script src="../../Scripts/Frameworks/WebGare/Actions/Login.js" type="text/javascript"></script>
    <script src="../../Scripts/Plugins/validationEngine/jquery.validationEngine.js" type="text/javascript"></script>
    <script src="../../Scripts/Plugins/validationEngine/jquery.validationEngine-en.js"
        type="text/javascript"></script>
    <script src="../../Scripts/Frameworks/WebGare/WgUtilities.js" type="text/javascript"></script>
    <script src="../../Scripts/Frameworks/WebGare/WgCommunicationLayer.js" type="text/javascript"></script>
    <script src="../../Scripts/Frameworks/WebGare/WGPage.js" type="text/javascript"></script>
    <script src="@Url.Content("~/Content/bootmetro/js/bootstrap.js")" type="text/javascript"></script>
    <style type="text/css">
        .box
        {
            border: 1px solid #ddd;
            box-sizing: border-box;
            display: inline-block;
            font-size: 12px;
            height: 110px;
            letter-spacing: normal;
            line-height: 1.25;
            margin: 0 -1px -1px 0;
            padding: 10px;
            text-align: center;
            vertical-align: top;
            width: 12em;
        }
    </style>
</head>
<body class="metro">
    <form id="frmLogin">
    <table style="height: 100%; width: 100%">
        <tr>
            <td align="center" style="width: 75%; height: 100%">
                <table>
                    <tr>
                        <td valign="top">
                          @*  <img src="../../Images/Boxes.png" />*@
                            <img style="width:85%; height:80%" src="../../Images/Industry2.png" />
                        </td>
                    </tr>
                    <tr><td>&nbsp;</td></tr>
                    <tr><td>&nbsp;</td></tr>
                    @*<tr>
                        <td>
                            <button class="box">
                                <div class="text-header" style="font-size: x-large">
                                    Info</div>
                                <i class="icon-info-2" style="font-size: 50px"></i>
                            </button>
                            <button class="box">
                                <div style="padding: 5px">
                                    <div class="text-header" style="font-size: x-large">
                                        Help</div>
                                    <i class="icon-video" style="font-size: 50px"></i>
                                </div>
                            </button>
                            <button class="box">
                                <div style="padding: 5px">
                                    <div class="text-header" style="font-size: x-large">
                                        Help</div>
                                    <i class=" icon-text" style="font-size: 50px"></i>
                                </div>
                            </button>
                            <button class="box">
                                <div style="padding: 5px">
                                    <div class="text-header" style="font-size: x-large">
                                        Register</div>
                                    <i class="icon-credit" style="font-size: 50px"></i>
                                </div>
                            </button>
                        </td>
                    </tr>*@
                </table>
            </td>
            <td valign="center" style="background-color: #222d32;">
                <table cellpadding="10" border="0">
                    <tr>
                        <td align="center" colspan="2">
                            <label style="color: White; font-family: Verdana; font-size: x-large">
                                V2Innovatives</label>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <label style="color: White; font-size: large">
                                Login</label>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label style="color: White; font-size: small">
                                User Name&nbsp;&nbsp;</label>
                        </td>
                        <td>
                            <input type="text" id="UserName" placeholder="User Name" class="input-large validate[required]" />
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label style="color: White; font-size: small">
                                Password&nbsp;&nbsp;</label>
                        </td>
                        <td>
                            <input type="password" id="Password" placeholder="Password" class="input-large validate[required]" />
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2" align="center">
                            <br />
                            <button type="submit" id="cmdLogin">
                                Login</button>
                        </td>
                    </tr>
                </table>
                <div style="position: absolute; bottom: 0; height: 60px;">
                    <label style="color: White; font-family: Verdana; font-size: x-small">
                        &nbsp;&nbsp;Copyright &copy; 2018 <a style="color: Silver" href="http://www.maedhaasolutions.com/">
                            <u>Maedhaa Solutions</u></a> All rights reserved.</label>
                </div>
            </td>
        </tr>
    </table>
    </form>

    <div id="messageDialog" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
        aria-hidden="true">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
            </button>
        </div>
        <table cellpadding="5" cellspacing="0" border="0" width="100%">
            <tr style="padding: 15px">
                <td align="center" colspan="3">
                    <div id="divProcessing">
                        <img src="../../Images/loading.gif" height="200;" width="200" /></div>
                </td>
            </tr>
            <tr style="padding: 15px">
                <td align="right">
                    <div id="divError" style="display: none;">
                        <img src="../../Images/Wrong.jpg" height="50;" width="50" /></div>
                </td>
                <td align="right">
                    <div id="divSuccess" style="display: none;">
                        <img src="../../Images/Tick.jpg" height="50;" width="50" /></div>
                </td>
                <td align="center">
                    <div id="divMessage">
                    </div>
                </td>
            </tr>
        </table>
    </div>
</body>
</html>
