﻿@*@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>*@

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@section JavascriptImport {
  
   
    <script src="~/Scripts/Application/TaxOperations.js" type="text/javascript"></script>
    }
   

@section MainSection{
<div id="divMainSection" wgPageType="CRUD" wgTag="Taxx">
    <div id="divDataArea" align="center" style="padding-top:5px"></div>
  <div id="divSearchArea" align="center"></div>
    </div>
    }

