﻿<table cellspacing="0" cellpadding="0" border="0" style="width: 40%">
    <br />
    <tr class="formHeader">
        <td>
            <label class="formHeaderTag">
                &nbsp;&nbsp;Add QualityCheck</label>
        </td>
        <td align="right">
            <button class="btn" type="submit" id="cmdBackSearch">
                Back</button>
        </td>
    </tr>
</table>
<table cellspacing="0" cellpadding="0" border="0" style="width: 40%">
    <tr>
        <td colspan="2">&nbsp;
        </td>
    </tr>
    <tr align="center">
        <td style="width: 50%" align="left">
            <label>
                Quality Check Date: &nbsp&nbsp&nbsp&nbsp</label>
        </td>
        <td colspan="2" align="left" style="width: 50%">
            <input type="text" readonly id="dtDate" data-bind="value: data.CheckDate" data-date-format="dd/mm/yyyy" class="span2 input-medium" data-provide="datepicker" />
        </td>
    </tr>
    <tr>
        <td>
            <label>Invoice Number</label>
        </td>
        <td>
            <input class="input-medium modelControl validate[custom[onlyNumberSp]]" data-bind="value: data.InvoiceNumber" type="text" placeholder="InvoiceNumber" id="InvoiceNumber" />
        </td>
    </tr>

    <tr>
        <td>
            <label>DC Number</label>
        </td>
        <td>
            <input class="input-medium modelControl validate[custom[onlyNumberSp]]" data-bind="value: data.DCNo" type="text" placeholder="DC Number" id="DCNumber" />
        </td>
    </tr>
    <tr>
        <td>
            <label>PO No</label></td>
        <td>
            <table>
                <tr>
                    <td valign="top">
                        @*<input class="input-large modelControl"  readonly data-bind="wgReferenceField: data.Fk_Indent" type="text" placeholder="Indent No" id="Fk_Indent" />*@
                        
                        <input class="input-large modelControl validate[required]" readonly data-bind="value: data.Fk_PONo" type="text" placeholder="PO" id="Fk_PO" />

                          
                    </td>
                    @*<td valign="top">
                        <button class="btn btn-primary" id="cmdMPOSearch">Search</button>
                    </td>*@
                </tr>
            </table>
        </td>
    </tr>
@*    <tr>
        <td valign="top">
            <label>Vendor</label></td>
        <td>
            <table>
                <tr>
                    <td valign="top">
                       
                        <input class="input-large modelControl" type="text" placeholder="PO" id="txtFk_Vendor" readonly />
                    </td>

                </tr>
            </table>
        </td>
    </tr>*@


</table>
<table cellspacing="0" cellpadding="0" border="0" style="width: 40%">
    <tr>
        <td>
            <div id="divListContainer">
                <div style="padding-bottom: 5px">
                    <button id="cmdAddMaterial" type="submit">
                        Add Material</button>
                </div>
                <div style="padding-bottom: 8px" id="tlbMaterials">
                </div>
            </div>
        </td>
    </tr>
    <tr align="center">
        <td>
            <button type="submit" class="btn cmdCreate" data-bind="click: save" id="cmdCreate">
                Save</button>
        </td>
    </tr>
</table>
