﻿@*//Name        : Quality Check Screen
//Description   : Shows the Names Of the Layout,Javascript used.
                : wg tag refers to the Controller name    
//Author        : Shantha
//Date 	        : 28/08/2015
//Crh Number    : SL0046
//Modifications : *@
@{
    ViewBag.Title = "QualityCheck";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section JavascriptImport {
    <script src="~/Scripts/Frameworks/WebGare/Controls/WgReferenceField.js" type="text/javascript"></script>
    <script type="text/javascript" src="~/Scripts/Application/Quality/QualityOperations.js"></script>
    <script type="text/javascript" src="~/Scripts/Application/Quality/Materials.js"></script>
    <script src="~/Scripts/Frameworks/WebGare/Dependency/Dropzone/dropzone.js" type="text/javascript"></script>
    <script src="~/Scripts/Frameworks/WebGare/Controls/wgFileUpload.js" type="text/javascript"></script>
    <script src="~/Scripts/Frameworks/WebGare/Configuration/WgOne2ManyfrmConfigurator.js"></script>
    <script src="~/Scripts/Frameworks/WebGare/Configuration/wgOne2ManyConfigurator.js"></script>

}
@section CssImport {
    <link href="~/Scripts/Frameworks/WebGare/Dependency/Dropzone/basic.css" rel="stylesheet"
        type="text/css" />
    <link href="~/Scripts/Frameworks/WebGare/Dependency/Dropzone/dropzone.css" rel="stylesheet"
        type="text/css" />
    <link href="~/Scripts/Frameworks/WebGare/Dependency/Dropzone/general.css" rel="stylesheet"
        type="text/css" />
}
@section MainSection{
    <div id="divMainSection" wgpagetype="CRUD" wgtag="CheckQuality">
        <div id="divDataArea" align="center" style="padding-top: 5px"></div>
        <div id="divSearchArea" align="center"></div>
    </div>
}





<div id="searchIndentDialog" class="modal hide fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="width: 1000px; height: 500px">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
        <h3 id="srchHeader">PO</h3>
    </div>


    <table cellpadding="8" cellspacing="0" border="0" width="95%">
        <tr>
            <td>
                <table>

                    <tr>
                        <td valign="top">
                            <input type="text" id="txtdlgIndent" placeholder="PO Number" class="input-medium" /></td>
                        <td valign="top">
                            <input type="text" id="txtdlgVendor" placeholder="Vendor" class="input-medium" /></td>

                        <td valign="top">
                            <input type="text" id="txtdlgFromDate" placeholder="From Date" class="span2 input-medium" data-date-format="dd/mm/yyyy" data-provide="datepicker" />
                        </td>
                        <td valign="top">
                            <input type="text" id="txtdlgToDate" placeholder="To Date" class="span2 input-medium" data-date-format="dd/mm/yyyy" data-provide="datepicker" />
                        </td>
                        <td valign="top">
                            <button type="submit" class="btn" id="cmdIndentSearch">Search</button>
                            <button type="submit" class="btn" id="cmdIndentDone">Done</button>
                        </td>
                    </tr>
                    </table>
            </td>
        </tr>
    </table>
    <tr>
        @*  <td>
            <button type="submit" class="btn" id="cmdIndentSearch">Search</button>
            <button type="submit" class="btn" id="cmdIndentDone">Done</button>
        </td>*@

    </tr>
    <tr>
        <td>
            <div id="IndentSearhContainer">
            </div>
        </td>
    </tr>


    @*</table>*@
       

</div>


<div id="searchMaterialDialog" class="modal hide fade" tabindex="100" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="width: 700px; height: 500px">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
        <h3 id="srchsHeader">Material</h3>
    </div>
    <table cellpadding="8" cellspacing="0" border="0" width="100%">
        <tr>
            <td colspan="1">
                <div id="dlgSearchMaterialFields">
                </div>
                @*<input type="text" id="txtEnquiry" data-bind="value: data.Customer" placeholder="Customer Name" class="input-large search-query"/>
            <input type="text" id="txtCommunicationType" data-bind="value: data.CommunicationType" placeholder="CommunicationType" class="input-large search-query"/>*@
                <br />
                <button type="submit" class="btn" id="cmdMatSearch">Search</button>
                <button type="submit" class="btn" id="cmdMatDone">Done</button>
            </td>
        </tr>
        <tr>
        </tr>
        <tr>
            <td>
                <div id="MaterialSearhContainer">
                </div>
            </td>
        </tr>
    </table>
</div>

