﻿<table width="90%" cellspacing="0" border="0">
    <tr>
        <table cellspacing="0" border="0" width="50%">
            <tr>
                <td colspan="2">
                    <div id="MainSearchContainer"></div>
                    <td>&nbsp;
                    </td>
                <td>&nbsp;
                </td>
                <td>&nbsp;
                </td>
                <td>&nbsp;
                </td>
                <td>&nbsp;
                </td>
                <td>&nbsp;
                </td>
                <td>&nbsp;
                </td>
                <td>&nbsp;
                </td>

                <td>
                    <div id="divPaperStock"></div>

                </td>
            </tr>




        </table>
        <td>&nbsp;
        </td>
        <td>&nbsp;
        </td>





    </tr>

</table>

@{
    ViewBag.Title = "Home Page";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
           
        </div>
    </section>
}



@*<script src="~/scripts/excel-table.js"></script>*@


<table class="excel-table">
  <thead>
  </thead>
  <tbody>
       
      <tr>
           <td> <label>Expected Board BS</label></td>
      <td><input type='text' class='editable' value='' id="ExpBS"  style="width: 20%"></td>
          </tr>
      <tr>
            <td> <label>Ply</label></td>
      <td><input type='text' class='editable' value='' id="Ply"  onblur="CalcV1()"  style="width: 20%"></td>
      </tr>
    <tr>
       <td> <label>Fluted Layers</label></td>
      <td><input type='text' class='editable' value='' id="v1" onblur="CalcV1()" style="width: 50%"></td>
      <td><input type='text' class='editable' value='' id="v2" onblur="CalcV1()" style="width: 50%"></td>
      <td><input type='text' class='editable' value='' id="v3" readonly="" style="width: 20%"></td>
        </tr>
      <tr>
          <td> <label>Liner Layers</label></td>
         <td><input type='text' class='editable' value='' id="v4" onblur="CalcV1()" style="width: 50%"></td>
      <td><input type='text' class='editable' value='' id="v5" onblur="CalcV1()" style="width: 50%"></td>
      <td><input type='text' class='editable' value='' id="v6" readonly="" style="width: 20%"></td>
    </tr>
         <tr>
          <td> <label>Total Board BS</label></td>
         <td><input type='text' class='editable' value='' id="TotBS"  style="width: 50%"></td>
             </tr>
          
  </tbody>
</table>

<script>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" 
    integrity="sha384-xBuQ/xzmlsLoJpyjoggmTEz8OWUFM0/RC5BsqQBDX2v5cMvDHcMakNTNrHIW2I5f" 
    crossorigin="anonymous">
    //$(".excel-table").exceltable();
    //    $(".excel-table").exceltable({
    //    defaultClass: "excel-table"
    //});

        function CalcV1() {
            var PlyVal = document.getElementById('Ply').value;
        var v1 = document.getElementById('v1').value;      
        var v2 = document.getElementById('v2').value;
       
        var v3 = ((Number(v1)*Number(v2))/1000)/2;
        document.getElementById('v3').value=v3;
        

        var v4 = document.getElementById('v4').value;
        var v5 = document.getElementById('v5').value;

        var v6 = (Number(v4) * Number(v5)) / 1000;
        document.getElementById('v6').value = v6;


        if (PlyVal == 3)
        {
            var TotalBS = Number(v3) + Number(v6)*2 ;
       
            document.getElementById('TotBS').value = TotalBS;
        }
        else if (PlyVal == 5)
           {  var TotalBS = Number(v3)*2 + Number(v6)*3 ;
       
    document.getElementById('TotBS').value = TotalBS; }
       
        else if 
            (PlyVal ==7)
        {
            var TotalBS = Number(v3) * 3 + Number(v6) * 4;

            document.getElementById('TotBS').value = TotalBS;
        }
        else if 
            (PlyVal == 9)
        {
            var TotalBS = Number(v3) *4 + Number(v6) * 5;

            document.getElementById('TotBS').value = TotalBS;
        }
        else if 
            (PlyVal == 11)
        {
            var TotalBS = Number(v3) * 5 + Number(v6) *6;

            document.getElementById('TotBS').value = TotalBS;
        }
    }


</script>

   @*<script src="~/Scripts/jquery.min.js"></script>
<script src="~/Scripts/jquery-ui.custom.min.js"></script>
<script src="~/Scripts/jquery.handsontable.full.min.js"></script>

<div id="dataTable">
    <tr>
        <td>
            <label>Hai</label>
        </td>
        </tr>
</div>

<div id="myconsole"></div>

<script>
    (function ( $ ) {
        var container = $("#dataTable").handsontable({
            data: data,
            startRows: 6,
            startCols: 8,
            minRows: 4,
            minCols: 4,
            startRows: 5,
        startCols: 5,
        rowHeaders: true,
        colHeaders: true,
        minSpareRows: 1,
        minSpareCols: 1,
      
        manualColumnResize: true,
        useFormula: true,	
        onChange: function (data, source) {
            if (source === 'loadData') {
                return; //don't show this change in console
            }
            $("#myconsole").text(JSON.stringify(data));
        }

    });
    });
</script>*@