﻿<table width="50%" cellspacing="0" border="0">


    @*<br/>*@
    <tr>
        <td>
            <div id="divSearchArea">
     
            </div>

           @* <table>
                <tr>
                    <td>
                        
                        <label>
                            Paper Details</label>
                    </td>
                </tr>
            </table>*@
        </td>
    </tr>
</table>
