﻿@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section JavascriptImport {
    @Scripts.Render("~/Scripts/Application/Register/registerDataOperations.js")
    @Scripts.Render("~/Scripts/jquery.mtz.monthpicker.js")
}
@section MainSection{
<table width="100%">
    <tr>
        <td>
            <label id="lblFaculty">
                Faculty : @Session["User"].ToString()</label>
        </td>
        <td>
        </td>
        <td>
            <label>
                Select Month</label>
            <input type="text" class="modelControl input-medium validate[required]" id="txtMonth"
                readonly></input>
        </td>
        <td>
            <button class="btn btn-primary" id="cmdLoadAttendance">
                Load</button>
            @* <button id="cmbBack" class="btn-primary">
                Back</button>*@
        </td>
    </tr>
    <tr>
        <td colspan="4">
            <div id="SearchByChar" style="display: none">
                <img src="~/Images/Filter.jpg" style="height: 40px; width: 40px" title="Click on one of the letters to filter students by name" />
                <a class="btn
charSearch" style="background-color: Lime">ALL</a> <a class="btn charSearch">A</a> <a
    class="btn charSearch">B</a> <a class="btn charSearch">C</a> <a class="btn charSearch">
        D</a> <a class="btn charSearch">E</a> <a class="btn charSearch">F</a> <a class="btn
charSearch">G</a> <a class="btn charSearch">H</a> <a class="btn charSearch">I</a> <a
    class="btn charSearch">J</a> <a class="btn charSearch">K</a> <a class="btn charSearch">
        L</a> <a class="btn charSearch">M</a> <a class="btn charSearch">N</a> <a class="btn
charSearch">O</a> <a class="btn charSearch">P</a> <a class="btn charSearch">Q</a> <a
    class="btn charSearch">R</a> <a class="btn charSearch">S</a> <a class="btn charSearch">
        T</a> <a class="btn charSearch">U</a> <a class="btn charSearch">V</a> <a class="btn charSearch">
            W</a> <a class="btn charSearch">X</a> <a class="btn charSearch">Y</a> <a class="btn
charSearch">Z</a>
            </div>
        </td>
    </tr>
    <tr>
        <td colspan="4">
            <div id="grdRegister">
            </div>
        </td>
    </tr>
</table>
}
