﻿
<table width="100%" cellpadding="5" cellspacing="0" border="0">


@*<br/>*@
    <tr>
        <td>
            <div id="divSearchArea">
                <table cellpadding="5" cellspacing="0" border="0" width="80%"  align="center">
                    <tr>
                        <td>
                             <input type="text" id="txtBoxid" placeholder="Box No" class="input-mini search-query"/>
                        <input type="text" id="txtCust" placeholder="Customer" class="input-medium search-query"/>
                        <input type="text" id="txtName" placeholder="Name" class="input-medium search-query"/>

                             
                        <button type="submit" class="btn" id="LoadRecordsButton">Search</button>
                        <button type="submit" class="btn" id="cmdNew" >Add Box</button>
                            @*<button type="submit" class="btn" id="cmdpdf">Box</button>*@
                        </td>
                     
                        <td>
                        <input type="text" id="txtDeck" placeholder="Deckle" class="input-mini search-query"/>

                        </td>
<td>
                        <input type="text" id="txtCutLength" placeholder="CutLength" class="input-mini search-query"/>

                        </td>
                        <td>
                        <input type="text" id="txtUps" placeholder="Ups" class="input-mini search-query"/>

                        </td>
                         <td>
                        <input type="hidden" id="txtPropid" placeholder="PropID" class="input-mini search-query"/>

                        </td>
                        <td> <button type="submit" class="btn" id="cmdUpd">Upd</button></td>
                    </tr>
                    <tr>

                        <td></td>


                    </tr>
        <tr><td></td></tr>
                    <tr>
                        <td colspan="2"><div id="MainSearchContainer"></div></td>
                    </tr>
                </table>               
            </div>            
        </td>
    </tr>
</table>