﻿

<div style="display: block; height: 600px;" id="divCreateDeliverySchedule">
    <table cellspacing="5" cellpadding="5" border="0" style="width:200px">
    <tr class="formHeader">
            <td colspan="3">
                <label class="formHeaderTag">
                    &nbsp;&nbsp;Add Box</label>
            </td>
        </tr>
        <tr>
            <td>
                &nbsp;
            </td>
        </tr>
        <tr>
            <td valign="top">
                <label>Delv.Date</label>
            </td>
            <td>
                <input readonly type="text" id="dtDeliveryDate" data-bind="value: data.Ddate" data-date-format="dd/mm/yyyy" class="validate[required,funcCall[deliveryDateValidate]] span2 datepicker input-medium" data-provide="datepicker"/>
            </td>
        </tr>
         <tr>
            <td valign="top">
                <label>
                    Box Name:</label>
            </td>
            <td valign="top">
                <input class="modelControl validate[required,funcCall[checkDuplicate]]" data-bind="wgReferenceField: data.Fk_BoxID"
                    type="text" placeholder="Box Name" id="txtFk_Box" style="width: 100%"
                    readonly />
            </td>

            <td valign="top" align="left">
                <button type="submit" class="btn cmdCreate" id="cmdSearchMaterialsdetails">
                    Search</button>
            </td>
        </tr>
          <tr>
            <td valign="top">
                <label>
                    Part Name:</label>
            </td>
            <td valign="top">
                <input class="modelControl"data-bind="value: data.Part"
                    type="text" placeholder="Part Name" id="txtPart" style="width: 100%"
                    readonly />
            </td>
         
        </tr>
           <tr>
          @*  <td valign="top">
                <label>Enq child</label>
            </td>*@
        <td>
                <input visibility: type="hidden" class="input-medium modelControl validate[required] " data-bind="value: data.Fk_PartID" placeholder="Fk_PartID" id="Fk_PartID"/>
                <td>
                <input visibility: type="hidden" class="input-medium modelControl validate[required] " data-bind="value: data.Fk_EnquiryChild" placeholder="Fk_EnquiryChild" id="Fk_EnquiryChild"/>
            </td>
        </tr>
          <tr>
                  <td valign="top">
                <label>Enq.Qty</label>
            </td>
            <td>
                <input class="input-small" readonly data-bind="value: data.EnqQty" type="text" placeholder="EnqQty" id="EnqQty"/>
            </td>
              </tr>
        <tr>
            <td valign="top">
                <label>Ord.Qty</label>
            </td>
            <td>
                <input class="input-small"   data-bind="value: data.OrdQty" type="text" placeholder="Ord.Qty" id="OrdQty"/>
            </td>
            </tr>
           <tr>
            <td valign="top">
                <label>
                    Rate</label>
            </td>
            <td valign="top">
                <input class="modelControl validate[required,custom[number]]" onchange="CalcAmt()" data-bind="value: data.Rate"
                    type="text" placeholder="Rate" id="Rate" style="width: 20%" maxlength="10" />
            </td>
            <td>
                &nbsp;
            </td>
        </tr>
          <tr>
            <td valign="top">
                <label>
                    Amount</label>
            </td>
            <td valign="top">
                <input class="modelControl validate[required]" readonly data-bind="value: data.Amount"
                    type="text" placeholder="Amount" id="Amount" style="width: 20%" maxlength="10" />
            </td>
            <td>
                &nbsp;
            </td>
        </tr>
            @*    <td valign="top">
                <label>T.Sch.Qty</label>
            </td>
            <td>
                <input class="input-small" readonly  type="text" placeholder="TSchQty" id="TSchQty"/>
            </td>*@

        </tr>
@*        <tr>
            <td valign="top">
                <label>Sch.Qty</label>
            </td>
            <td>
                <input class="input-small validate[required,custom[onlyNumberSp]]" data-bind="value: data.Quantity" type="text" placeholder="Quantity" id="Quantity"/>
            </td>
            <td valign="top">
                <label>Pend.Qty</label>
            </td>
            <td valign="Left">
                <input class="input-small" readonly type="text" placeholder="PQty" id="PQty"/>
            </td>
        </tr>
         
        <tr>
            <td valign="top">
                <label>Comment</label>
            </td>
            <td>
                <textarea cols="3" rows="3" data-bind="value: data.Comments" placeholder="Comments" id="Comments"></textarea>
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <div id="divDeliveryStatus" style="display:none">
                <table width="100%">
                    <tr>
                        <td valign="top">
                            <label>Delivery Completed</label>
                        </td>
                        <td>
                            <input type="checkbox" id="chkDeliveryCompleted" data-bind="checked: data.DeliveryCompleted"/>
                        </td>
                    </tr>
                    <tr>
                        <td valign="top">
                            <label>Delivered Date</label>
                        </td>
                        <td>
                            <input readonly type="text" id="dtDeliveredDate" data-bind="value: data.DeliveredDate" data-date-format="dd/mm/yyyy" class="validate[funcCall[deliveryDateValidate]] span2 datepicker input-medium" data-provide="datepicker"/>
                        </td>
                     </tr>
                </table>
                </div>
            </td>
        </tr>*@
        
         <tr>
            <td>
                &nbsp;
            </td>
            <td>
                <button type="submit" class="btn cmdCreate" id="cmdSaveDeliverySchedule">
                    Save</button>
            </td>
            <td>
                &nbsp;
            </td>
        </tr>
    </table>
</div>
<div style="display: none; width: 550px; height: 600px;" id="divSearchMaterial">
    <table cellpadding="8" cellspacing="0" border="0" width="100%">
        <tr>
            <td>
               
            </td>
        </tr>
        <tr>
            <td colspan="1">
                <input type="text" id="txtMaterial" data-bind="value: data.MaterialName" placeholder="Material Name"
                    class="input-large search-query" style="width: 70%" />
                <button type="submit" class="btn" id="cmdMaterialSearch">
                    Search</button>
                <button type="submit" class="btn" id="cmdMaterialDone">
                    Done</button>
            </td>
        </tr>
        <tr>
        </tr>
        <tr>
            <td>
                <div id="MaterialSearchContainer">
                </div>
            </td>
        </tr>
    </table>
</div>

