﻿<input type="hidden" id="hidPkOrder" data-bind="value: data.Pk_Order" />

<!--Done Hidden Fields -->
<input style="width: 75%; visibility: hidden;" class="input-large modelControl " data-bind="value: data.Pk_Order" type="text" id="Pk_Order" />
<table cellspacing="0" cellpadding="0" border="0" width="50%">
    <tr class="formHeader">
        <td colspan='2'>
            <label class="formHeaderTag">&nbsp;&nbsp;Edit Order</label></td>
        <td align="right">
            <button class="btn" type="submit" id="cmdBackSearch">Back</button></td>
    </tr>

    <tr>
        <td colspan="3" align="right">
            <div id="wfButtons"></div>
        </td>
    </tr>
    <tr>
        <td>&nbsp;</td>
    </tr>
    <tr>
        <td>
            <label>Order Recvd.Date</label></td>
        <td>
            <input type="text" readonly id="dtPOrderDate" data-bind="value: data.OrderDate" data-date-format="dd/mm/yyyy" class="validate[funcCall[orderDateValidate]] span2 input-medium" data-provide="datepicker" />
        </td>
    </tr>

    
    <tr>
        <td>
            <label>EnquiryNo</label></td>
        <td>
            <table>
                <tr>
                    <td valign="top">
                        <input class="input-large modelControl validate[required]" readonly data-bind="value: data.fk_Enquiry" type="text" placeholder="Enquiry" id="fk_Enquiry" />
                    </td>
                 
                </tr>
            </table>
        </td>
    </tr>

  <tr>
        <td>
            <label>Customer</label></td>
        <td>
            <input class="input-large modelControl" readonly data-bind="wgReferenceField: data.fk_Customer" type="text" placeholder="Customer" id="txtfk_Customer" />
            @*       <button class="btn btn-primary" id="cmdCustomerSearch">Search</button> *@
        </td>

    </tr>

     <tr>
        <td>
            <label>Customer PO No.</label></td>
        <td>
            <input class="input-large modelControl" data-bind="value: data.Cust_PO" type="text" placeholder="PO" id="PO" /></td>
    </tr>
      <tr>
        <td>
            <label>Cust.Order Date</label></td>
        <td>
            <input type="text" readonly id="dtOrderDate" data-bind="value: data.CustOrdDate" data-date-format="dd/mm/yyyy" class="span2 input-medium" data-provide="datepicker" />
        </td>
    </tr>
@*    <tr>
        <td>
            <label>Del.Date</label></td>
        <td>
            
            <input type="text" readonly id="dtDdate" data-bind="value: data.Ddate" data-date-format="dd/mm/yyyy" class="span2 input-medium" data-provide="datepicker" />
        </td>
    </tr>*@
    <tr>
         <td>&nbsp;</td>
    </tr>
    </table>
<table cellspacing="0" cellpadding="0" border="0" style="width:30%">
    <tr>
        <td>
            <div id="divListContainer">
                <div style="padding-bottom: 5px">
                    <button id="cmdAddSchedule" type="submit">
                        Add Box</button>
                </div>
                <div style="padding-bottom: 8px" id="divDeliveryschedule">
                </div>
            </div>
        </td>
    </tr>
    <tr align="center">
        <td>
            <button type="submit" class="btn cmdCreate" data-bind="click: save" id="cmdCreate">
                Save</button>
        </td>
    </tr>
</table>
    
    <tr>
        <td colspan="3">
            <div id="wfTransDisplay">
            </div>
        </td>
    </tr>

