﻿@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section JavascriptImport {
    <script src="~/Scripts/Plugins/fullcalendar/fullcalendar.js" type="text/javascript"></script>
    <script src="~/Scripts/Frameworks/WebGare/Controls/WgReferenceField.js" type="text/javascript"></script>
    <script type="text/javascript" src="~/Scripts/Application/Order/Materials.js"></script>
    <script type="text/javascript" src="~/Scripts/Application/Order/OrderOperations.js"></script>
    <script type="text/javascript" src="~/Scripts/Application/Order/DeliveryScheduleItem.js"></script>
    <script src="~/Scripts/Frameworks/WebGare/Configuration/WgOne2ManyConfigurator.js"
        type="text/javascript"></script>
    <script src="~/Scripts/Frameworks/WebGare/Controls/WgWorkFlowButtons.js" type="text/javascript"></script>
    <script src="~/Scripts/Frameworks/WebGare/Controls/WgWorkFlowDisplay.js" type="text/javascript"></script>
   
}
@section CssImport{
    <link href="~/Scripts/Plugins/fullcalendar/fullcalendar.css" rel="stylesheet"
        type="text/css" />
}

@section MainSection{
    <div id="divMainSection" wgpagetype="CRUD" wgtag="Order">
        <div id="divDataArea" align="center" style="padding-top: 5px"></div>
        <div id="divSearchArea" align="center"></div>
    </div>
}


<body>
    <div id="searchDialog" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="width: 700px; height: 900px">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
            <h3 id="srchHeader">Enquiry</h3>
        </div>
        <table cellpadding="8" cellspacing="0" border="0" width="95%">


            <tr>
                <td valign="top">
                    <input type="text" id="txtdlgCustomerName" placeholder="CustomerName" class="input-medium" />
                </td>
                <td valign="top">
                    <input type="text" id="txtdlgCommunicationType" placeholder="CommunicationType" class="input-medium" />
                </td>
                @*  <td valign="top">
                    <input type="text" id="txtdlgEnquiryID" placeholder="EnquiryID" class="input-medium" />
                </td>
                <td valign="top">
                    <input type="text" id="txtdlgEnquiryDate" placeholder="Date" class="span2 input-medium" data-date-format="dd/mm/yyyy" data-provide="datepicker" />
                </td>*@
                <td valign="top">
                    <input type="text" id="txtdlgEnquiryFromDate" placeholder="From Date" class="span2 input-medium" data-date-format="dd/mm/yyyy" data-provide="datepicker" style="width: 210px" />
                </td>
                <td valign="top">
                    <input type="text" id="txtdlgEnquiryToDate" placeholder="To Date" class="span2 input-medium" data-date-format="dd/mm/yyyy" data-provide="datepicker" style="width: 210px" />
                </td>

            </tr>
            <tr>
                <td colspan="4">
                    <button type="submit" class="btn" id="cmdSearch">Search</button>
                    <button type="submit" class="btn" id="cmdDone">Done</button>
                </td>

            </tr>
            <tr>
                <td colspan="4">
                    <div id="MainSearhContainer">
                    </div>
                </td>
            </tr>


        </table>

    </div>

    <div id="searchBoxDialog" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="width: 700px; height: 500px">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
            <h3 id="srchHeader1">Customer</h3>
        </div>
        <table cellpadding="8" cellspacing="0" border="0" width="95%">


            <tr>
                <td valign="top">
                    <input type="text" id="txtdlgBoxName" placeholder="CustomerName" class="input-medium" />
                </td>
       @*         <td valign="top">
                    <input type="text" id="txtdlgPartNo" placeholder="CommunicationType" class="input-medium" />
                </td>*@


            </tr>
            <tr>
                <td colspan="2">
                    <button type="submit" class="btn" id="cmdBoxSearch">Search</button>
                    <button type="submit" class="btn" id="cmdBoxDone">Done</button>
                </td>

            </tr>
            <tr>
                <td colspan="4">
                    <div id="MainSearhContainer2">
                    </div>
                </td>
            </tr>


        </table>

    </div>
    <div id="searchAddressDialog" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="width: 700px; height: 500px">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
            <h3 id="srchHeader2">Shipping Address</h3>
        </div>
        <table cellpadding="8" cellspacing="0" border="0" sstyle="width:95%">
            <tr>
                <td valign="top">
                    <input type="text" id="txtdlgName" placeholder="Name" class="input-medium" />
                </td>

                <td valign="top">
                    <input type="text" id="txtdlgCity" placeholder="City" class="input-medium" />
                </td>
                <td valign="top">
                    <input type="text" id="txtdlgState" placeholder="State" class="input-medium" />
                </td>

            </tr>
            <tr>
                <td colspan="2">
                    <button type="submit" class="btn" id="cmdAddSearch">Search</button>
                    <button type="submit" class="btn" id="cmdAddDone">Done</button>
                </td>

            </tr>
            <tr>
                <td colspan="4">
                    <div id="MainSearhContainer1">
                    </div>
                </td>
            </tr>


        </table>

    </div>


</body>
