﻿<table cellspacing="0" cellpadding="0" border="0" width="50%">
        <br />
    
    <tr class="formHeader">
        <td>
            <label class="formHeaderTag">
                Add Bill</label>
        </td>
       <td colspan="2" align="right">
            <button class="btn" type="submit" id="cmdBackSearch">Back</button></td>
    </tr>
    <tr>
        <td>
            &nbsp;
        </td>
    </tr>
     <tr>
                              <td>
                                    <label>Invoice Date</label></td>
                                <td>
                                    <input type="text" readonly class="span2 input-medium" id="dtDate" data-bind="value: data.InvDate" data-date-format="dd/mm/yyyy" class="span2 input-medium" data-provide="datepicker" />
                                </td>
      
                            </tr>
     <tr>
                                <td>
                                    <label>Customer</label></td>
                                <td>
                                    <table>
                                        <tr>
                                            <td valign="top">
                                                <input class="input-large modelControl" readonly data-bind="wgReferenceField: data.Fk_Customer" type="text" placeholder="Customer" id="txtCustomer" />
                                            </td>
                                            <td valign="top">
                                                <button class="btn btn-primary" id="cmdCustomerSearch">Search</button>
                                            </td>
                                             
                  
                                        </tr>
                                   
                                    </table>
                            </tr>
    
      
   <tr>
        <td>
            <label>
               Bill Value</label>
        </td>
        <td>
            <input  class="input-large modelControl" data-bind="value: data.GrandTotal"
                type="text" placeholder="GrandTotal" id="GrandTotal" maxlength ="20" />
        </td>
                
    </tr>
    
   
 
    <tr>
        <td>
            <label>Tax Value</label></td>
        <td>
            <input class="input-small modelControl" data-bind="value: data.Tax" type="text" placeholder="Tax" id="Tax" onchange="CalcAmt()"/></td>
   
            
       <td>
            <label>Bill Value</label></td>
        <td>
            <input class="input-small modelControl" readonly data-bind="value: data.BillVal" type="text" placeholder="BillVal" id="BillVal" /></td>
   
            </tr>
    <tr>
        <td>
            &nbsp;
        </td>
        <td>
            <button type="submit" class="btn cmdCreate" data-bind="click: save" id="cmdCreate">
                Save</button>
        </td>
    </tr>
</table>
