﻿@*//Name          : Screen Design for Country -- Search Mode(HTML)
//Description   : Search is done on the fields- id(Customer name,complaint id and complaint date)            
//Author        : Nagesh V Rao
//Date 	        : 07/08/2015
//Crh Number    : SL0010
//Modifications : *@

<table width="60%" cellpadding="5" cellspacing="0" border="0">
    <br />
    <tr>
        <td>
            <div id="divSearchArea">
                <table cellpadding="3" cellspacing="0" border="0" width="90%">
                    <tr>
                        <td valign="top">
                            <input type="text" id="txtComplaintID" placeholder="Complaint ID " class="input-large search-query" /></td>
                        <td valign="top">
                            <input type="text" id="txtCustomerName" placeholder="Customer Name " class="input-large search-query" /></td>
                        <td valign="top">
                            <input type="text" id="txtComplaintDate" placeholder="Complaint Date" class="span2 input-medium" data-date-format="dd/mm/yyyy" data-provide="datepicker" /></td>

                        <td valign="top">
                            <button type="submit" class="btn" id="LoadRecordsButton">Search</button></td>
                        <td valign="top">
                            <button type="submit" class="btn" id="cmdNew">Add Complaint</button></td>
                    </tr>
                </table>
            </div>
        </td>
    </tr>

    <tr>
        <td>
            <div id="MainSearchContainer"></div>
        </td>
    </tr>
</table>
