﻿<div style="display: block;" id="searchMaterialDialog" tabindex="100" style="width: 700px; height: 500px">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
        <h3 id="srchHeader">Material List</h3>
    </div>
    <table cellpadding="8" cellspacing="0" border="0" width="100%">
        <tr>
            <td colspan="1">
                <div id="dlgMaterialSearchFields">
                </div>
                @*<input type="text" id="txtEnquiry" data-bind="value: data.Customer" placeholder="Customer Name" class="input-large search-query"/>
            <input type="text" id="txtCommunicationType" data-bind="value: data.CommunicationType" placeholder="CommunicationType" class="input-large search-query"/>*@

                <br />

                   <div id="radiobtns">
                                <table width="50%">
                                    <tr>
                                      <td style="width:50px" valign="top">
                                            <label class="radio">
                                                <input type="radio" id="Regular" name="Regular" value="Regular" onchange="showOnlyRegular()" class="input-large search-query" /><span class="metro-radio">Regular Stock</span>
                                            </label>
                                               
                                        </td>
                                      <td style="width:50px" valign="top">
                                            <label class="radio">
                                                <input type="radio" id="JW" name="JW" value="JW" onchange="showJW()" class="input-large search-query" /><span class="metro-radio">JW Stock</span>
                                            </label>
                                               
                                        </td>
                                        @*    <td style="width:50px" valign="top">
                                            <label class="radio">
                                                <input type="radio" id="Others" name="Others" value="Others" onchange="showOthers()" class="input-large search-query" /><span class="metro-radio">Others</span>
                                            </label>
                                               
                                        </td>*@
                                        </tr>
                                        <tr>
                                        <td>
                                            <input type="hidden" id="Selected" data-bind="value: data.Opt" placeholder="Selection" class="input-mini search-query"/>
                                            </td>
                                    </tr>
                                    </table>
                       </div>
                <button type="submit" class="btn" id="cmdMatSearch">Search</button>
                <button type="submit" class="btn" id="cmdMatDone">Done</button>
               @*     <button type="submit" class="btn" id="cmdShowRegular">Show Reg.Stock</button>*@
            </td>
        </tr>
        <tr>
        </tr>
        <tr>
            <td>
                <div id="MaterialSearchContainer">
                </div>
            </td>
      <td valign="top">
          <div id="tab">
            <table id="list" border="1" cellspacing="0px" cellpadding="2px" text-align="left">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th style='display:none;'>Fk_Material</th>
                        <th style='display:none;'>Fk_PaperStock</th>
                        <th>RollNo</th>
                        <th>Quantity</th>
                    </tr>

                </thead>
                <tbody>
                </tbody>

            </table>

          </div>           
      </td>
        </tr>
    </table>
</div>


