﻿
<table cellspacing="0" cellpadding="0" border="0" width="30%">
    <br />

    <tr class="formHeader">
        <td>
            <label class="formHeaderTag">&nbsp;&nbsp;@ViewBag.Context Work Order</label></td>
        <td align="right">
            <button class="btn btn-block btn-primary btn-lg" type="submit" id="cmdBackSearch">Back</button></td>
    </tr>
    <tr>
        <td>&nbsp;</td>
    </tr>

    <tr>
        <td colspan="2">&nbsp;
        </td>
    </tr>
    <tr align="center">
        <td valign="top">
            <div class="tabbable">
                <ul class="nav nav-tabs" id="MyTab">
                    <li class="active"><a href="#tab1" data-toggle="tab">Work Order Details</a></li>

                    <li><a href="#tbDocument" data-toggle="tab">Add Document</a></li>
                </ul>
                <div class="tab-content" style="height: 950px">
                    <div class="tab-pane active" id="tab1">
                        <table>

               <tr>
                                <td colspan="30">
                                    <table border="0">
                                        @*   <colgroup>
                                            <col style="width: 40%" />
                                            <col style="width: 40%" />
                                            <col style="width: 40%" />
                                            <col style="width: auto" />
                                        </colgroup>*@
                                        <tr>
                                            <td colspan="30">&nbsp;</td>
                                            <input class="input-mini modelControl" type="hidden" readonly="" placeholder="BoxType" id="BoxType" />
                                            <input class="input-mini modelControl" type="hidden" data-bind="value: data.Fk_BoxID" readonly="" placeholder="BoxID" onchange="getBoxDet()" id="BoxID" />
                                             <input class="input-mini modelControl" type="hidden" data-bind="value: data.Fk_PartID" readonly="" placeholder="PartID"  id="PartID" />
                                            <input class="input-mini modelControl" readonly="" data-bind="value: data.Fk_Schedule" type="hidden" placeholder="SchID" id="Fk_Schedule" />
                                            <input class="input-large modelControl" readonly data-bind="value: data.Fk_Enquiry" type="hidden" placeholder="Fk_Enquiry" id="Fk_Enquiry" />
                                            

                                        </tr>
                                              <tr>
                                            <td>
                                              
                                                   <input class="input-medium modelControl" readonly data-bind="value: data.Pk_JobCardID" type="text" placeholder="" id="Pk_JobCardID" />  </td>

                                               <td>   <input class="input-medium modelControl" readonly data-bind="value: data.PName" type="text" placeholder="PName" id="PName" style="font-weight: bold" /></td>
                                        </tr>
                                        <tr>
                                            <td colspan="30"></td>
                                        </tr>

                                        <tr>
                                            <td>
                                                <label>Card Date</label></td>
                                            <td>
                                                <input type="text" readonly id="dtJCDate" data-bind="value: data.JDate" data-date-format="dd/mm/yyyy" class="validate[funcCall[orderDateValidate]] span2 input-mini" data-provide="datepicker" />
                                            </td>
                                            <td>
                                                <label>Order No</label></td>
                                            <td>
                                                <input class="input-medium modelControl" readonly data-bind="value: data.Fk_Order" type="text" placeholder="Order No" id="Fk_Order" />
                                            </td>
                                            <td valign="top">
                                                <button class="btn btn-primary" id="cmdOrderMSearch">Search</button>
                                            </td>
                                        </tr>

                                        <tr>

                                            <td>
                                                <label>Customer</label></td>
                                            <td>
                                                <input class="input-medium modelControl" type="text" readonly placeholder="Customer" id="txtfk_Customer" />
                                            </td>

                                            <td>
                                                <label>Cust.PO No.</label></td>
                                            <td>
                                                <input class="input-medium modelControl" readonly data-bind="value: data.Cust_PO" type="text" placeholder="PO" id="PO" /></td>

      

                                        </tr>
                                    <td>

                                        <label>Box Name</label></td>

                                <td>
                                    <input class="input-medium modelControl  validate[required]" readonly data-bind="wgReferenceField: data.Fk_BoxID" type="text" placeholder="Box Name" id="Fk_BoxID" /></td>

                                <td>
                                    <label>Length</label>
                                    <input class="input-mini modelControl" type="text" readonly placeholder="Length" id="Length" /></td>

                                <td>
                                    <table>
                                        <td>
                                            <label>Height</label><input class="input-mini modelControl" type="text" readonly placeholder="Height" id="Height" />
                                        </td>
                                        <td>

                                            <label>Width</label><input class="input-mini modelControl" type="text" readonly placeholder="Width" id="Width" />
                                        </td>




                                    </table>
                                </td>
                                <td>
                                    <table>
                                        <td>
                                            <label>Brd.Area</label>
                                            <input class="input-mini modelControl" type="text" readonly placeholder="BoardSize" id="BoardSize" /></td>


                                    </table>
                                </td>
                                <td>
                                    <table>
                                        <td>
                                            <label>Deckle</label>
                                            <input class="input-mini modelControl" type="text" readonly placeholder="Deckle" id="Deckle" />
                                        </td>

                                        <td>
                                            <label>Cutg.Size</label><input class="input-mini modelControl"  data-bind="value: data.CutLength" type="text" readonly placeholder="Cutg.Size" id="CutLength" />
                                        </td>
                                    </table>


                                </td>


                                <td>
                                    <table>
                                        <td>
                                            <label>Ply</label><input class="input-mini modelControl" type="text" readonly placeholder="Ply" id="Ply" />
                                        </td>
                                    </table>
                                </td>
                                <td>
                                    <table>
                                        <td>
                                            <label>Mac.Dec.</label><input class="input-mini modelControl" data-bind="value: data.Machine" type="text" readonly placeholder="Mac.Dec" id="MDeckel" />
                                        </td>
                                        <td>
                                            <label>Ups</label>
                                            <input class="input-mini modelControl" data-bind="value: data.UpsVal" type="text" placeholder="Ups" id="UpsVal" /></td>
                                    </table>
                                </td>


 


                            <tr>

                                <td>
                                    <label>Printing</label></td>
                                <td>

                             
                                    <input class="input-medium modelControl" data-bind="value: data.PrintVal" type="text" placeholder="Printing" id="PrintVal" />

                                        

                                </td>

                                <td>
                                    <label>Printing Color</label></td>

                                <td>
                                    <input class="input-medium modelControl" data-bind="value: data.PColor" type="text" placeholder="P.Color" id="PColor" maxlength="45" /></td>
                                <td>
                                    <label>Printing Details</label></td>

                                <td>
                                    <input class="input-medium modelControl" data-bind="value: data.PDetails" type="text" placeholder="P.Details" id="PDetails" maxlength="150" /></td>
                                <td>
                                    <label>MFG Joint Placement</label></td>

                                <td>
                                    <input class="input-medium modelControl" data-bind="value: data.MFG" type="text" placeholder="MFG" id="MFG" maxlength="50" /></td>
                                @* <td>
                                                <select style="width: 75%" class="modelControl  validate[required]" data-bind="options: Machine,
                                                                       optionsCaption: 'Select',
                                                                       optionsText: 'Name',
                                                                       optionsValue: 'Id',
                                                                       value: data.Machine"
                                                    id="Machine">
                                                </select>
                                            </td>
                                                                                         <label>
                                                    <input type="checkbox" id="chkPrinting" data-bind="checked: data.Printing" />
                                                    Printing
                                                </label>
                                        </tr>*@
                            <tr>
                                <td>
                                    <label>Die Punch/RSC</label></td>

                               <td>
                                    @* <select style="width: 95%" class="modelControl validate[required]" data-bind=" value: data.DPRSc" id="DPRSc" onchange="DPChange(this);">
                                        <option value="0">Select</option>
                                        <option value="1">Die Punch</option>
                                        <option value="2">RSC</option>

                                    </select>*@

                                      <input class="input-medium modelControl" data-bind="value: data.DPRScVal" type="text" placeholder="DPRSc" id="DPRScVal" />

                                </td>
                                 

                                <td>
            <label>Calico</label></td>
        <td>
            <label>
                <input type="checkbox" id="chkCalico" data-bind="checked: data.Calico" />
                Calico
            </label>
           @* <label>
                <input type="checkbox" id="chkStitch" data-bind="checked: data.Stitching" />
                Gumming
            </label>*@

        </td>
                                <td>
                                    <label>Prod.Qty</label></td>

                                <td>
                                    <input class="input-medium modelControl validate[required]" data-bind="value: data.TotalQty" type="text" placeholder="Prod. Qty" id="TQty" maxlength="5" />
                                          <td>
            <label>Moisture(%)</label></td>

        <td>
            <input class="input-medium modelControl" data-bind="value: data.Corrugation" type="text" placeholder="Moisture" id="Corrugation" maxlength="5" />

                                <td>
                                    <label>Others</label></td>
                                <td>

                                    <input class="input-medium modelControl" data-bind="value: data.Others" type="text" placeholder="Others" id="Others" /></td>

                            </tr>
                            <tr>
                                      
                                <td>
                                    <label>Close JobCard</label></td>
                                <td>
                                    <label> 
                                        <input class="validate[funcCall[checkStatus]]" type="checkbox" id="chkCloseJC" data-bind="checked: data.Fk_Status"  />
                                        Close JobCard </label></td>
                                  <td> <input class="input-small" data-bind="value: data.Fk_Status" type="hidden" placeholder="" id="cjc" readonly /></td>

                                 <td>
                                    <label>Cancel JobCard</label></td>
                                <td>
                                    <label> 
                                        <input class="validate[funcCall[checkCStatus]]" type="checkbox" id="chkCancelJC" data-bind="checked: data.Fk_Status"  />
                                        Cancel JobCard </label></td>
                                  <td> <input class="input-small" data-bind="value: data.Fk_Status" type="hidden" placeholder="" id="Canceljc" readonly /></td>
                                      </tr>
                                        </tr>
                        </table>

                        <tr>
    <td>
        <table border="0">
            <h3>Processes in  this JobCard</h3>
            <tr>
                   <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td>
                  <label>
                        <input type="checkbox" id="chkTop" data-bind="checked: data.TopP" />
                        T.Paper
                    </label>
                </td>
                   <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td>

                       <label>
                        <input type="checkbox" id="chkCorr" data-bind="checked: data.Corr" />
                        Corrugation
                    </label>

                  
                </td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td>
                    <label>
                        <input type="checkbox" id="chkPasting" data-bind="checked: data.Pasting" />
                        Pasting
                    </label>
                </td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td>
                    <label>
                        <input type="checkbox" id="chkRotary" data-bind="checked: data.Rotary" />
                        Rotary
                    </label>

                </td>
                
                     <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td>
                    <label>
                        <input type="checkbox" id="chkPrinting1" data-bind="checked: data.PrintingP" />
                        Printing
                    </label>

                </td>
                  <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td>
                    <label>
                        <input type="checkbox" id="chkSlotting" data-bind="checked: data.Slotting" />
                        Slotting
                    </label>
                </td>
                  <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td>
                    <label>
                        <input type="checkbox" id="chkPunching" data-bind="checked: data.Punching" />
                        Punching
                    </label>
                </td>
               @*   <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td>
                    <label>
                        <input type="checkbox" id="chkEccentric" data-bind="checked: data.Eccentric" />
                        Eccentric
                    </label>

                </td>*@
                  <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td>
                    <label>
                        <input type="checkbox" id="chkPinning" data-bind="checked: data.Pinning" />
                        Pinning
                    </label>
                </td>

                  <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td>
                    <label>
                        <input type="checkbox" id="chkGumming" data-bind="checked: data.Gumming" />
                        Gumming
                    </label>

                </td>
                   <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td>
                    <label>
                        <input type="checkbox" id="chkFinishing" data-bind="checked: data.Finishing" />
                        Finishing
                    </label>
                </td>

                   <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td>
                    <label>
                        <input type="checkbox" id="chkBundling" data-bind="checked: data.Bundling" />
                        Bundling
                    </label>
                </td>
            </tr>
        </table>
    </td>
</tr>
<tr>
    <td colspan="2">&nbsp;
    </td>
</tr>
     
    <tr>
        <td>
            <table border="1" cellpadding="0" cellspacing="0" width="70%">

                <tr>
                    <td>
                        <div id="divPaperStock"></div>
                    </td>
                </tr>
            </table>

        </td>

        
        <td colspan="5">
            <div id="divListContainer">
                <div style="padding-bottom: 5px">
                    @*<button id="cmdAddMaterial" type="submit">
                        Add Material</button>*@
                   <button id="cmdAddPaper" type="submit">
                        Paper</button>
                </div>


                <div style="padding-bottom: 8px" id="tlbMaterials">
                </div>
            </div>
        </td>


    </tr>

                    </div>   
                    
                      @*   <tr>
                             <td>
                                 <table border="1">
                                     <tr>
                                         <td>
                                    <label>Wastage Qty</label></td>

                                <td>
                                    <input class="input-medium modelControl" data-bind="value: data.TotalWstQty" type="text" placeholder="Total Wastage" id="TotalWstQty" maxlength="5" /></td>

                                         </tr>
                                 </table>
                             </td>
                         </tr>          *@     
                     
                        <tr>
                            <td>
                                <table border="0">
                                    <tr>
                                        <td>
                                     <div style="padding-bottom: 8px" id="tlbIssueMaterials">
                </div>
                                            </td>
                                        </tr>
                                </table>
                            </td>
                        </tr>

<table border="0" style="width: 100%">
    <tr>
        <td>
            <div style="display: block;" id="divCreateMaterialIndent">
                <table border="0" style="width: 100%">
                   
                    <tr>
                        <td>&nbsp;
                        </td>
                    </tr>
 

 

                       <tr>

                         <td colspan="6">
                        <div id="divListContainer1">
                            <div style="padding-bottom: 5px">
                                <button id="cmdAddProcess" type="submit">
                                    Processes</button>

                            </div>
                            <div style="padding-bottom: 8px" id="tlbMaterials1">
                            </div>
                        </div>
                    </td>
                        </tr>

                    <tr>
                        <td>
                            <table border="0">
                    <tr>
                        <td>
                            <label>Finished Qty</label></td>
                       
                      <td>
                            <input class="input-small validate[custom[number]]" data-bind="value: data.FinishingQty" type="text" placeholder="Finished Qty" id="Finishing" maxlength="5" /></td>
                       

                        <td>
                            <label>D.Wastage</label></td>
                       
                        <td colspan="2">
                            <input class="input-small" data-bind="value: data.TotalProQty" type="text" placeholder="" id="DWaste" maxlength="5" />
                        </td>
                        <td>
                            <label>Pro.Wastage</label></td>
                       
                        <td colspan="2">
                            <input class="input-small" data-bind="value: data.TotalProQty" type="text" placeholder="" id="ProWaste" maxlength="5" />
                        </td>
                        
                         <td>
                            <label>Total Wastage</label></td>
                       
                        <td colspan="2">
                            <input class="input-small" data-bind="value: data.TotalWstQty" type="text" placeholder="" id="TWastage" maxlength="5" />
                        </td>


                    </tr>
                                </table>
                   </td>
                    </tr>
                    
                    
                     @*///*@
                            <tr>
                            </tr>
                            <tr></tr>
                            <tr></tr>
                            <tr>
                                <td>
                                &nbsp;
                                    <td>
                                &nbsp;
                                         <td>

                                <td>
                                    <a style="float: right">&nbsp;</a>
                                    <button class="btn btn-primary" type="button" id="cmdNext" style="float: right">Next></button>
                                </td>
                            </tr>

                        </table>
                    </div>
            </td>
        </tr>
</table>
                        </div>




                    <div class="tab-pane" id="tbDocument" style="height: 150px">
                        <div id="dropzone">
                            <div id="file" class="dropzone dz-clickable">
                            </div>
                        </div>
                    </div>


                    <tr>
                        <td align="center">

                            <button type="submit" class="btn cmdCreate" data-bind="click: save" id="cmdCreate">Save</button></td>

                    </tr>
                
    </div>
</table>
