﻿<table cellspacing="0" cellpadding="0" border="0" width="40%">
    <br />
    <tr style="width: 6%" class="formHeader">
        <td >
            <label class="formHeaderTag">&nbsp;&nbsp;Add Material Quotation </label>
        </td>
        <td  align="right">
            <button class="btn" type="submit" id="cmdBackSearch">Back</button></td>
    </tr>


    <tr>
        <td>&nbsp;</td>
    </tr>
    <tr>
        <td>
            <label>Request Date</label>
        </td>
        <td>

            <input type="text" class="input-large modelControl " readonly id="RequestDate" data-bind="value: data.RequestDate" data-date-format="dd/mm/yyyy" class=" span2 input-medium" data-provide="datepicker" />
        </td>


      

    <tr>
        <td>
            <label>Vendor</label></td>
        <td>
            <table>
                <tr>
                    <td valign="top">
                        <input class="input-large modelControl " readonly data-bind="wgReferenceField: data.Fk_Vendor" type="text" placeholder="Vendor" id="txtFk_Vendor" />
                    </td>
                    <td valign="top">
                        <button class="btn btn-primary" id="cmdVendorSearch">Search</button>
                    </td>
                </tr>
            </table>
    </tr>



    <tr>
        <td>
            <label>Requests</label></td>
        <td>
            <textarea class="input-large" data-bind="value: data.Requests" type="Requests" placeholder=" Requests" id="Requests" maxlength="500" /></td>
    </tr>




   

    <tr>
        <td>&nbsp;</td>
    </tr>
    <tr></tr>
    <tr></tr>

</table>
<table cellspacing="0" cellpadding="0" border="0" width="40%">
    <tr>
        <td>
            <div id="divListContainer">
                <div style="padding-bottom: 5px">
                    <button id="cmdAddProduct" type="submit">
                        Add Material</button>
                </div>
                <div style="padding-bottom: 8px" id="tlbProducts">
                </div>
            </div>
        </td>
    </tr>
    <tr align="center">
        <td>
            <button type="submit" class="btn cmdCreate" data-bind="click: save" id="cmdCreate">
                Create</button>
        </td>
    </tr>
</table>
