﻿
@*//Name          : Screen Design for Account Head -- Edit Mode(HTML)
//Description   : Contains the Label,TextBox,ComboBox Definitions Required for the Screen               
//Author        : Nagesh
//Date 	        : 22/10/2015
//Crh Number    : 
//Modifications : *@


<table cellspacing="0" cellpadding="0" border="0" width="40%">
    <br />
    <tr  class="formHeader">
        <td >
            <label class="formHeaderTag">&nbsp;&nbsp;@ViewBag.Context Head</label></td>
        <td  align="right">
            <button class="btn" type="submit" id="cmdBackSearch">Back</button></td>
    </tr>
    <tr>
        <td>&nbsp;</td>
    </tr>
    <tr>
        <td>
            <label>Head Name</label></td>
        <td>
            <input class="input-large modelControl validate[required,custom[onlyLetterSp],funcCall[CheckHeadDuplicate]]" data-bind="value: data.HeadName" type="text" placeholder="Name" id="HeadName" maxlength="50" /></td>
        </tr>
    <tr>
        <td>
            <label> Description</label></td>
        <td>
            <textarea class="input-large" data-bind="value: data.Description" type=" Description" placeholder=" Description" id="Description" maxlength="500" /></td>
    </tr>
    <tr><td></td></tr>
    <tr><td></td></tr>
    <tr>
        <td>&nbsp;</td>
        <td >
            <button type="submit" class="btn cmdCreate" data-bind="click: save" id="cmdCreate">Save</button></td>
    </tr>
</table>
