﻿
@*//Name          : Screen Design for Country -- Edit Mode(HTML)
//Description   : Contains the Label,TextBox,ComboBox Definitions Required for the Screen               
//Author        : Nagesh V Rao
//Date 	        : 07/08/2015
//Crh Number    : SL0010
//Modifications : *@

<table cellspacing="0" cellpadding="0" border="0" width="40%">
    <br />
    <tr style="width: 10%" class="formHeader">
        <td >
            <label class="formHeaderTag">&nbsp;&nbsp;@ViewBag.Context Branch</label></td>
        <td  align="right">
            <button class="btn" type="submit" id="cmdBackSearch">Back</button></td>
    </tr>
    <tr>
        <td>&nbsp;</td>
    </tr>
    <tr>
        <td>
            <label>Branch Name</label></td>
        <td>
            <input class="input-large validate[required,custom[onlyLetterSp],funcCall[CheckBranchDuplicate]]" data-bind="value: data.BranchName" type="text" placeholder="Branch Name" id="BranchName" maxlength="50" /></td>
    </tr>
    <tr></tr>
    <tr></tr>
    <tr>
        <td>&nbsp;</td>
        <td>
            <button type="submit" class="btn cmdCreate" data-bind="click: save" id="cmdCreate">Save</button></td>
    </tr>
</table>
