﻿<table cellspacing="0" cellpadding="0" border="0" width="30%">
     <tr>
       @* <td><label>Paper Name</label></td>*@
        <td><input class="input-large modelControl" style="visibility:hidden" type="text" data-bind="value: data.Name" placeholder="Paper Name" id="PaperName" maxlength="150"/></td>
    </tr>
    <tr class="formHeader">
        <td><label class="formHeaderTag">&nbsp;&nbsp;Add Items</label></td>
        <td align="right"><button class="btn" type="submit" id="cmdBackSearch">Back</button></td>
    </tr>
    <tr><td>&nbsp;</td></tr>
   
      <tr>
        <td><label>Name</label></td>
        <td><input class="input-large modelControl validate[required]" data-bind="value: data.Name" type="text" placeholder="Name" id="Name" maxlength="200"/> </td>
    </tr>

    
     <tr>
        <td><label>Description</label></td>
        <td><input class="input-large modelControl" data-bind="value: data.Description" type="text" placeholder="Description" id="Description" maxlength="100"/></td>
    </tr>
   
         <tr>
        <td><label>Unit</label></td>
        <td> <select class="modelControl validate[required]" data-bind="options: Unit,
    optionsCaption: 'Select',
    optionsText: 'Name',
    optionsValue: 'Id',
    value: data.Fk_UnitId"
                id="Fk_UnitId">
            </select></td>
    </tr>


     <tr>
        <td>&nbsp;</td>
        <td><button type="submit" class="btn cmdCreate" data-bind="click: save" id="cmdCreate" >Save</button></td>
    </tr>
</table>