﻿
<table cellspacing="0" cellpadding="0" border="0" style="width:40%">
    <br />
    <tr class="formHeader">
        <td>
            <label class="formHeaderTag">
                &nbsp;&nbsp;Add Issue</label>
        </td>
        <td align="right">
            <button class="btn" type="submit" id="cmdBackSearch">
                Back</button>
        </td>
    </tr>
</table>
<table cellspacing="0" cellpadding="0" border="0" style="width:40%">
    <tr>
        <td colspan="2">&nbsp;
        </td>
    </tr>
  

    <tr align="center">
        <td style="width: 50%" align="left">
            <label>Issue Date</label></td>
        <td colspan="2" align="left" style="width: 50%">
            <input type="text" readonly id="dtIssueDate" data-bind="value: data.IssueDate" data-date-format="dd/mm/yyyy" class="span2 input-medium" data-provide="datepicker" />
        </td>
    </tr>

  @*    <tr>
        <td>
            <label>
                QualityCheck No.</label>
        </td>
        <td>
            <table>
                <tr>
                    <td valign="top">
                        <input class="input-large modelControl validate[required]" readonly data-bind="value: data.Fk_QC" type="text" placeholder="QualityCheck" id="txtQualityCheck" />
                    </td>
                    <td valign="top">
                        <button class="btn btn-primary" id="cmdQualitySearch">Search</button>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td>
            <label>
                PO No.</label>
        </td>
        <td>
            <input style="width: 55%" class="input-large modelControl" 
                type="text" placeholder="PO" id="TxtPO" readonly />
        </td>
          <td valign="top">
                        <button class="btn btn-primary" id="cmdQualitySearch">Search</button>
                    </td>
       
    </tr>*@
    <tr>
         <td>
            <label>
                Issued By</label>
        </td>
        <td>
            
                <input style="width: 55%" class="input-large modelControl"  data-bind="value: data.IssuedBy" type="text" placeholder="Issued By" id="IssuedBy"  />
        </td>
    </tr>

     <tr>
         <td>
            <label>
                Issued To</label>
        </td>
        <td>
            <input style="width: 55%" class="input-large modelControl"  data-bind="value: data.IssuedTo" type="text" placeholder="Issued To" id="IssuedTo"  />
        </td>
         </tr>
    
</table>
<table cellspacing="0" cellpadding="0" border="0" style="width:40%">
    <tr>
        <td>
            <div id="divListContainer">
                <div style="padding-bottom: 5px">
                    <button id="cmdAddMaterial" type="submit">
                        Add Item</button>
                </div>
                <div style="padding-bottom: 8px" id="tlbMaterials">
                </div>
            </div>
        </td>
    </tr>
    <tr align="center">
        <td>
            <button type="submit" class="btn cmdCreate" data-bind="click: save" id="cmdCreate">
                Save</button>
        </td>
    </tr>
</table>
