﻿
<div style="display: block;" id="divCreateDeliverySchedule">
    <table cellspacing="5" cellpadding="5" border="0" style="width:200px">
    <tr class="formHeader">
            <td colspan="3">
                <label class="formHeaderTag">
                    &nbsp;&nbsp;Add Production Schedule</label>
            </td>
        </tr>
        <tr>
            <td>
                &nbsp;
            </td>
        </tr>
        <tr>
            <td valign="top">
                <label>Del.Date</label>
            </td>
            <td>
                @*<input readonly type="text" id="dtDeliveryDate" data-bind="value: data.DeliveryDate" data-date-format="dd/mm/yyyy" class="validate[required,funcCall[deliveryDateValidate]] span2 datepicker input-medium" data-provide="datepicker"/>*@
                 <input readonly type="text" id="dtDeliveryDate" data-bind="value: data.DeliveryDate" data-date-format="dd/mm/yyyy" class="validate[required] span2 datepicker input-medium" data-provide="datepicker"/>
            </td>
        </tr>
         <tr>
            
            <td valign="top">
                <label>
                    Box Name:</label>
            </td>
            <td valign="top">
                <input class="modelControl validate[required,funcCall[checkDuplicate]]" data-bind="wgReferenceField: data.Fk_BoxID"
                    type="text" placeholder="Item Name" id="txtFk_Box" style="width: 100%"
                    readonly />
            </td>
            <td valign="top" align="left">
                <button type="submit" class="btn cmdCreate" id="cmdSearchMaterialsdetails">
                    Search</button>
            </td>
        </tr>
           <tr>
      <td valign="top">
                <label>
                    Part Name:</label>
            </td>
            <td valign="top">
                <input class="input-mini modelControl" data-bind="value: data.Part"
                    type="text" placeholder="Part Name" id="txtPart" style="width: 40%"
                    readonly />
            </td>
               <td>
                <input visibility: type="hidden" class="input-mini modelControl validate[required] " data-bind="value: data.Fk_PartID" placeholder="Fk_PartID" id="Fk_PartID"/>
                <td>
                <input visibility: type="hidden" class="input-mini modelControl validate[required] " data-bind="value: data.Fk_EnquiryChild" placeholder="Fk_EnquiryChild" id="Fk_EnquiryChild"/>
            </td>
        </tr>
          <tr>
            <td valign="top">
                <label>Ord.Qty</label>
            </td>
            <td>
                <input class="input-small validate[required,custom[onlyNumberSp]] "  data-bind="value: data.OrdQty" type="text" placeholder="Ord.Qty" id="OrdQty"/>
            </td>


                <td valign="top">
                <label>Schld. Qty</label>
            </td>
            <td>
                <input class="input-small" readonly  type="text" placeholder="TSchQty" id="TSchQty"/>
            </td>

        </tr>
        <tr>
            <td valign="top">
                <label>To be Sch.Qty</label>
            </td>
            <td>
                <input class="input-small validate[required,custom[onlyNumberSp]]" data-bind="value: data.Quantity" type="text" placeholder="Quantity" id="Quantity"/>
            </td>
            <td valign="top">
                <label>Pend.Qty</label>
            </td>
            <td valign="Left">
                <input class="input-small" readonly type="text" placeholder="PQty" id="PQty"/>
            </td>
        </tr>
         
        <tr>
            <td valign="top">
                <label>Comment</label>
            </td>
            <td>
                <textarea cols="3" rows="3" data-bind="value: data.Comments" placeholder="Comments" id="Comments"></textarea>
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <div id="divDeliveryStatus" style="display:none">
                <table width="100%">
                    <tr>
                        <td valign="top">
                            <label>Delivery Completed</label>
                        </td>
                        <td>
                            <input type="checkbox" id="chkDeliveryCompleted" data-bind="checked: data.DeliveryCompleted"/>
                        </td>
                    </tr>
                    <tr>
                        <td valign="top">
                            <label>Delivered Date</label>
                        </td>
                        <td>
                            <input readonly type="text" id="dtDeliveredDate" data-bind="value: data.DeliveredDate" data-date-format="dd/mm/yyyy" class="validate[funcCall[deliveryDateValidate]] span2 datepicker input-medium" data-provide="datepicker"/>
                        </td>
                     </tr>
                </table>
                </div>
            </td>
        </tr>
        
         <tr>
            <td>
                &nbsp;
            </td>
            <td>
                <button type="submit" class="btn cmdCreate" id="cmdSaveDeliverySchedule">
                    Save to List</button>
            </td>
            <td>
                &nbsp;
            </td>
        </tr>
    </table>
</div>
<div style="display: none; width: 550px; height: 600px;" id="divSearchMaterial">
    <table cellpadding="8" cellspacing="0" border="0" width="100%">
        <tr>
            <td>
               
            </td>
        </tr>
        <tr>
            <td colspan="1">
                <input type="text" id="txtMaterial" data-bind="value: data.MaterialName" placeholder="Material Name"
                    class="input-large search-query" style="width: 70%" />
                <button type="submit" class="btn" id="cmdMaterialSearch">
                    Search</button>
                <button type="submit" class="btn" id="cmdMaterialDone">
                    Done</button>
            </td>
        </tr>
        <tr>
        </tr>
        <tr>
            <td>
                <div id="MaterialSearchContainer">
                </div>
            </td>
        </tr>
    </table>
</div>

