﻿<table cellspacing="0" cellpadding="0" border="0" width="70%">

    <tr class="formHeader">
        <td colspan='2'>
            <label class="formHeaderTag">&nbsp;&nbsp;Edit Bill</label></td>
        <td align="right">
            <button class="btn" type="submit" id="cmdBackSearch">Back</button></td>
    </tr>
    <tr>
        <td>&nbsp;</td>
    </tr>

       <tr>
        <td>
            <div class="tabbable">
                <!-- Only required for left/right tabs -->
                <ul class="nav nav-tabs" id="MyTab">
                    <li class="active"><a href="#tab1" data-toggle="tab">Invoice Details</a></li>
                    <li><a href="#tab2" data-toggle="tab">Box</a></li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane active" id="tab1">
                        <table>
                             <tr>
                              <td>
                                    <label>Invoice Date</label></td>
                                <td>
                                    <input type="text" readonly class="span2 input-medium" id="dtDate" data-bind="value: data.InvDate" data-date-format="dd/mm/yyyy" class="span2 input-medium" data-provide="datepicker" />
                                </td>
                            </tr>
                            
                            <tr>
                                <td>
                                    <label>Customer</label></td>
                                <td>
                                    <table>
                                        <tr>
                                            <td valign="top">
                                                <input class="input-large modelControl " readonly data-bind="wgReferenceField: data.Fk_Customer" type="text" placeholder="Customer" id="txtCustomer" />
                                            </td>
                                            <td valign="top">
                                                <button class="btn btn-primary" id="cmdCustomerSearch">Search</button>
                                            </td>
                                              <td valign="top" style="width: 100%">
                                    <button class="btn btn-primary" id="cmdNewCustomer">New</button>
                                </td>
                                        </tr>
                                    </table>
                            </tr>
                            <tr>
        <td>
            <label>Payment Mode</label></td>
        <td>
            <table>
                <tr>
                    <td>
                        <label class="radio">
                            <input type="radio" id="Cash" name="PayMtMode" value="Cash" onclick="radioClass('Cash')" /><span class="metro-radio">Cash</span>

                        </label>
                    </td>
                 @*   <td>
                        <label class="radio">
                            <input type="radio" id="Card" name="PayMtMode" align="left" value="Card" onclick="radioClass('Card')" /><span class="metro-radio">Card</span>
                        </label>
                    </td>*@
                <td>
                        <label class="radio">
                            <input type="radio" id="Cheque" name="PayMtMode" value="Cheque" onclick="radioClass('Cheque')" /><span class="metro-radio">Cheque</span>
                        </label>
                    </td>
                     <td>
                        <label class="radio">
                            <input type="radio" id="NetBanking" name="PayMtMode" value="NetBanking" onclick="radioClass('NetBanking')" /><span class="metro-radio">NetBanking</span>
                        </label>
                    </td>
                <td>
                        <input type="hidden" class="input-large " data-bind="checked: data.PayMt" placeholder="PaymentMode" id="PayMt" /></td>
                    <td>
                        <input type="hidden" class="input-large " data-bind="value:data.PayMode"  placeholder="PaymentMode" id="PayMode" /></td>
                </tr>

            </table>

        </td>

    </tr>
    <tr>
        <td>
            <label>Net Value</label></td>
        <td>
            <input class="input-medium modelControl" readonly data-bind="value: data.GrandTotal" type="text" placeholder="GrandTotal" id="GrandTotal" /></td>
    </tr>
   
 
    <tr>
        <td>
            <label class="radio">
                <input type="radio" id="VAT" name="TaxMode" value="SGST" onclick="radioClass1(1)" /><span class="metro-radio">SGST</span>

            </label>
        </td>
        <td>
            <label class="radio">
                <input type="radio" id="CST" name="TaxMode" align="left" value="IGST" onclick="radioClass1(2)" /><span class="metro-radio">IGST</span>
            </label>
        </td>
         <td>
                        <input type="hidden" class="input-large " data-bind="value: data.TaxType" placeholder="PaymentMode" id="TaxType" /></td>
                 </tr>
      <tr>
          <td>
            <label>SGST@6%</label></td>
    
     <td>   <input class="input-medium modelControl" readonly data-bind="value: data.ED" type="text" placeholder="SGST" id="ED" /></td>
          <td>
            <label>CGST@6%</label></td>
    
     <td>   <input class="input-medium modelControl" readonly data-bind="value: data.CGST" type="text" placeholder="CGST" id="CGST" /></td>
        </tr>

     <tr>
                   

        <td>
            <label>Tot. Amount</label></td>
        <td>
            <input class="input-medium modelControl" readonly data-bind="value: data.NETVALUE" type="text" placeholder="Bill Amount" id="NETVALUE" /></td>
        
         
       
    </tr>
   
  
      <tr>
             <td>
            <label>COA</label></td>
        <td>
            <input class="input-medium modelControl"  data-bind="value: data.COA" type="text" placeholder="COA" id="COA"  maxlength="50"/></td> 

           <td>
            <label>ESUGAM</label></td>
        <td>
            <input class="input-medium modelControl"  data-bind="value: data.ESUGAM" type="text" placeholder="ESUGAM" id="ESUGAM"  maxlength="50"/></td> 


    </tr>
                            <tr>
                                <td>
            <label>Buyer's Order No.</label></td>
        <td>
            <input class="input-medium modelControl"  data-bind="value: data.Buyers_OrderNo" type="text" placeholder="Buyers_OrderNo" id="Buyers_OrderNo"  maxlength="50"/></td>
  <td>
                                    <label>Order Dt</label></td>
                                <td>
                                    <input type="text" readonly class ="span2 input-medium" id="dtOrdDate" width 35% data-bind="value: data.BOrderDated" data-date-format="dd/mm/yyyy"  data-provide="datepicker" />
                                </td>

                            </tr>
                            <tr>
                                 <td>
            <label>State Code</label></td>
        <td>
            <input class="input-medium modelControl"  data-bind="value: data.StateCode" type="text" placeholder="State Code" id="StateCode" /></td>
                                <td>
            <label>Motor Vehicle No.</label></td>
        <td>
            <input class="input-medium modelControl"  data-bind="value: data.MVehicleNo" type="text" placeholder="VehicleNo" id="MVehicleNo"  maxlength="50"/></td>
           </tr>
                               <tr>
                <td>
            <label>Despatched Through</label></td>
        <td>
            <input class="input-medium modelControl"  data-bind="value: data.Despatched" type="text" placeholder="Despatched" id="Despatched" maxlength="150"/></td>
                                <td>
            <label>Destination</label></td>
        <td>
            <input class="input-medium modelControl"  data-bind="value: data.Destination" type="text" placeholder="Destination" id="Destination"  maxlength="150"/></td>
    </tr>
    <tr>
        <td>
            <label>Delivery-Name</label></td>
        <td>
            <input class="input-medium modelControl"  data-bind="value: data.DeliveryName" type="text" placeholder="Name" id="DeliveryName" /></td>
         <td>
                                    <label>Dt.& Time of Rem.</label></td>
                                <td>
                                    <input type="text" readonly class ="span2 input-medium" id="dtRemDate" width 35% data-bind="value: data.DNTimeofRemoval" data-date-format="dd/mm/yyyy"  data-provide="datepicker" />
                                </td>
    </tr>
                         
    <tr>

        
      
                                    <td>
                                        <label>Delivery Address</label></td>
                                    <td>
                                        <textarea data-bind="value: data.DeliveryAdd1" placeholder="Address" id="DeliveryAdd1" maxlength="150" /></td>

           

                                </tr>
    <tr>

        
      
                                    <td>
                                        <label>Delivery Address</label></td>
                                    <td>
                                        <textarea data-bind="value: data.DeliveryAdd2" placeholder="Address" id="DeliveryAdd2" maxlength="150" /></td>
                                </tr>
   

                        </table>
                    </div>



                    <div class="tab-pane" id="tab2">
                        <div id="divCreateMaterialIndent">
                            <table width="100%">
                                @*<tr class="formHeader">
                                    <td colspan="7">
                                        <label class="formHeaderTag">
                                            &nbsp;&nbsp;Add MaterialIndent</label>
                                    </td>
                                </tr>*@
                <tr>
                                    <td>&nbsp;
                                                 

                                    </td>
                                </tr>
                               
                                <tr>
                                    <td style:width="30%" valign="top">
                                        <label>Box</label>
                                    </td>
                                    <td>
                                        <table>
                                            <tr>
                                                <td valign="top">
                                                    <input class="input-medium modelControl " readonly data-bind="wgReferenceField: data.Fk_BoxID" type="text" placeholder="BoxID" id="Fk_BoxID" />
                                                     <input class="input-mini modelControl"  data-bind="value: data.Fk_BoxID" type="text" placeholder="BoxID" id="BoxID" /></td>
                                           
                                                <td valign="top">
                                                    <button class="btn btn-primary" id="cmdBoxSearch">Search</button>
                                                </td>
                                            </tr>
                                        </table>
                               </td>
                                    </tr>
                                  <tr>
                                    <td style:width="30%" valign="top">
                                        <label>Job Card No.</label>
                                    </td>
                                    <td>
                                        <table>
                                            <tr>
                                                <td valign="top">
                                                    <input class="input-medium modelControl"  data-bind="value: data.Fk_JobCardID" type="text" placeholder="JobCard" id="Fk_JobCardID" readonly=""/>
                                                </td>
                                                <td valign="top">
                                                    <button class="btn btn-primary" id="cmdJobSearch">Search</button>
                                                </td>
                                            </tr>
                                        </table>
                                </tr>
                                       
                            <tr>
                                    <td>
                                        <label>Description</label></td>
                                    <td>
                                        <textarea data-bind="value: data.Description" placeholder="Description" id="txtDescription" maxlength="500" /></td>
                                </tr>
                                 <tr>
                                    <td>
                                        <label>HSN Code</label></td>
                                    <td>
                                        <input class="input-medium modelControl" data-bind="value: data.HsnCode" type="text" placeholder="HsnCode" id="TxtHsnCode" /></td>
                                </tr>
                                <tr>
                                    <td>
                                        <label>Quantity</label></td>
                                    <td>
                                        <input class="input-medium modelControl validate[custom[onlyNumberSp]] " onchange="CalcAmt()" data-bind="value: data.Quantity" type="text" placeholder="Quantity" id="TxtQuantity" /></td>
                                </tr>


                                <tr>
                                    <td>
                                        <label>Price</label></td>

                                    <td>
                                        <input class="input-medium modelControl validate[custom[onlyNumberSp]] " onchange="CalcAmt()" data-bind="value: data.Price" type="text" placeholder="Price" id="Price" />
                                    </td>

                                </tr>

                                <tr>
                                    <td>
                                        <label>Total Amount</label></td>
                                    <td>
                                        <input class="input-medium modelControl" readonly data-bind="value: data.TotalAmount" type="text" placeholder="TotalAmount" id="TxtTotal" /></td>
                                </tr>
                                <tr>
                                  
                                    <td>
                                        <input class="hidden input-medium modelControl validate[custom[onlyNumberSp]]" onchange="CalcAmt()" data-bind="value: data.Discount" type="text" placeholder="Discount" id="Discount" />
                                    </td>

                                </tr>

                            

                                <tr>
                                   
                                    <td>
                                        <input class="hidden input-medium modelControl" readonly data-bind="value: data.NetAmount" type="text" placeholder="NetAmount" id="TxtNetTotal" /></td>
                                </tr>


                            </table>          
                                    </div>
                      

                        <table width="80%">
                            <tr>
                                <td align="center">
                                    <div id="divListContainer">
                                        <div style="padding-bottom: 5px">
                                            <button id="cmdMaterialIndent" type="submit">
                                                Save To List</button>
                                        </div>
                                        <div style="padding-bottom: 8px" id="divMaterialDetail">
                                        </div>
                                    </div>
                                </td>
                            </tr>

                        </table>
            </div>



            </div>
            </div>
        </td>
    </tr>


    <tr>
        <td>&nbsp;</td>
    </tr>
    <tr>
        <td>&nbsp;</td>
        <td>
            <button type="submit" class="btn cmdCreate" data-bind="click: save" id="cmdCreate">Save</button></td>
    </tr>
</table>
