﻿@model IEnumerable<CogitoStreamLineModel.VwInvoice>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>INVOICE</title>
</head>
<body>
 
    <table>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Invno)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.InvDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TaxName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TaxValue)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Quantity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Discount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NetAmount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th></th>
        </tr>
    
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Invno)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.InvDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TaxName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TaxValue)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quantity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Discount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NetAmount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            @*<td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>*@
        </tr>
    }
    </table>


    <div style="padding :10px;border:1px solid black">
        <div> <a href="@Url.Action("InvReport",new{id="PDF"})">Get ReportPDF</a> </div>
    </div>

</body>
</html>
