﻿<table cellspacing="0" cellpadding="0" border="0" width="40%">
    <tr class="formHeader">
        <td><label class="formHeaderTag">&nbsp;&nbsp;Add Employee Designation</label></td>
        <td align="right"><button class="btn" type="submit" id="cmdBackSearch">Back</button></td>
    </tr>
    <tr><td>&nbsp;</td></tr>
    <tr>
        <td><label>Designation Name</label></td>
        <td><input class="input-large modelControl validate[required,custom[onlyLetterSp],funcCall[CheckEmployeeDesignationDuplicate]]" data-bind="value: data.DesignationName" type="text" placeholder="Designation Name" id="DesignationName" maxlength="50"/></td>
    </tr>
     <tr>
        <td>
            <label> Description</label></td>
        <td>
            <textarea class="input-large" data-bind="value: data.Description" type="Description" placeholder=" Description" id="Description" maxlength="500" /></td>
    </tr>
     
    <tr>
        <td>&nbsp;</td>
        <td><button type="submit" class="btn cmdCreate" data-bind="click: save" id="cmdCreate" >Save</button></td>
    </tr>
</table>