﻿<table width="70%" cellpadding="5" cellspacing="0" border="0">
    <tr>
        <td>
            <div id="divSearchArea">
                <table cellpadding="3" cellspacing="0" border="0" width="70%" align="center">
                    <tr>
                        <td>
                            <table>
                                <tr>
                                    <td valign="top">
                                        <input type="text" id="txtPaymentId" placeholder="Payment Id" class="input-medium search-query" /></td>

                                    <td valign="top">
                                        <input type="text" id="txtFk_Invno" placeholder="Invoice Number" class="input-medium search-query" /></td>

                                    <td valign="top">
                                        <input type="text" id="txtPaymentDate" placeholder="Payment Date" class="span2 input-medium" data-date-format="dd/mm/yyyy" data-provide="datepicker" style="width: 210px" />
                                    </td>

                                    <td valign="top">
                                        <button type="submit" class="btn" id="LoadRecordsButton">
                                            Search</button></td>
                                    <td valign="top">
                                        <button type="submit" class="btn" id="cmdNew">
                                            Add Payment Track</button></td>
                        </td>
                    </tr>
                </table>
            </div>
        </td>
    </tr>

    <tr>
        <td>
            <div id="MainSearchContainer">
            </div>
        </td>
    </tr>
</table>

